// Access container
$access-container-display: flex;
$access-container-flex-direction: column;
$access-container-padding: 60px 10px 0 10px;
$access-container-height: auto;
$access-container-width: 100%;
$access-container-margin-bottom: 50px;
$access-container-overflow-x: hidden;

// Access header
$access-header-font-weight: bold;
$access-header-font-size: 35px;
$access-header-max-width: 320px;
$access-header-margin: 0 auto 15px auto;
$access-description-padding: 0 40px;
$access-description-font-size: 16px;
$flip-card-hover-transform: rotateY(180deg);
$access-header-text-align: center;

// Access description
$access-description-margin: 5px auto 0 auto;
$access-description-max-width: 900px;
$access-description-text-align: center;

// Access card
$access-card-container-position: relative;
$access-card-container-top: 50px;
$access-card-width: 370px;
$access-card-min-height: 210px;
$access-card-display: flex;
$access-card-flex-direction: column;
$access-card-align-items: center;
$access-card-justify-content: center;
$access-card-cursor: pointer;

// Access card container
$access-card-container-margin: 50px 0 70px 0;
$access-card-container-display: flex;
$access-card-container-flex-wrap: wrap;
$access-card-container-flex-direction: row;
$access-card-container-justify-content: center;

// Access card image
$access-card-image-margin: 15px 0 20px 0;
$access-card-image-height: 100px;

// Min width 547px
$access-header-max-width-sm2: 100%;
$access-description-font-size-sm2: 20px;

// Min width 768px
$access-header-font-size-md: 45px;
