$min-width-xs: 411px;
$min-width-xs2: 456px;
$min-width-sm0: 519px;
$min-width-sm: 530px;
$min-width-sm1: 545px;
$min-width-sm2: 547px;
$min-width-sm3: 550px;
$min-width-sm4: 560px;
$min-width-sm5: 576px;
$min-width-sm6: 600px;
$min-width-sm7: 700px;
$min-width-md0: 759px;
$min-width-md: 768px;
$min-width-md1: 800px;
$min-width-lg0: 900px;
$min-width-lg: 961px;
$min-width-lg3: 1129px;
$min-width-xl: 1200px;
$min-width-2xl: 1400px;
$min-width-3xl: 1500px;
$max-width-sm1: 550px;


$min-width-lg: 992px;