// Auth card container
$auth-card-container-height: 100vh;
$auth-card-container-padding: 1.5rem;
$auth-card-container-display: flex;
$auth-card-container-flex-direction: column;
$auth-card-container-justify-content: center;
$auth-card-container-align-items: center;

// Auth card
$auth-card-position: relative;
$auth-card-width: 100%;
$login-card-position-max-width: 500px;
$register-card-position-max-width: 640px;

// Auth card header container
$auth-card-header-container-display: flex;
$auth-card-header-container-justify-content: center;

// Auth card header
$auth-card-header-margin-bottom: -.5rem;
$auth-card-header-margin-top: 2rem;

// Auth card body
$auth-card-body-padding: 10px;

// Auth card content
$auth-card-content-padding: 20px;

// Auth inputs
$auth-input-text-height: 35px;
$auth-input-text-width: 100%;
$auth-input-text-max-width: 100%;
$auth-input-text-font-size: 12px;

// Links
$links-text-decoration: none;
$links-position: absolute;
$back-link-top: 15px;
$back-link-left: 20px;
$auth-links-top: 12px;
$auth-links-right: 20px;


// Min width 768px
$auth-card-padding-bottom-md: 20px;
$auth-card-position-top-md: 150px;
$auth-card-body-content-padding-md: 20px;
