app.ts
bootstrap.ts
main.ts
preview.ts
index.html
README.md

package*.json
tsconfig.json
yarn.lock
vite.config.ts
dist/

atomic/_old_structure
atomic/bosons/styles/index.scss
atomic/bosons/styles/variables
