@import '../../../variables/pages/welcome/start_variables';

@import '../../../variables/components/button_variables';
@import '../../../variables/base/borders_variables';
@import '../../../variables/base/colors_variables';
@import '../../../variables/base/fonts_variables';
@import '../../../variables/base/medias_variables';

.startContainer {
    padding: $start-container-padding;
}

.startHeader {
    font-size: $start-header-font-size;
    font-weight: $start-header-font-weight;
    font-family: $font-family-inter-sans-serif;
    color: $dark-text-color;
}

.startDescription {
    margin-top: $start-description-margin-top;
    max-width: $start-description-max-width;
    font-size: $font-size-medium2;
    color: $secondary-text-color;
}

.startButton {
    margin-top: $start-button-margin-top;
    justify-content: $start-button-justify-content;
    font-weight: $start-button-font-weight;
    font-size: $font-size-medium;
    transition: $start-button-transition;
    padding: $primary-button-big-padding !important;

    &:active {
        transform: $start-button-active-transform;
    }
}

.startItem {
    color: $secondary-gray-color;
    background: $secondary-gray-bg-color;
    transition: $transition-colors-300ms;
    border-radius: $small-border-radius;
    min-width: $start-item-small-dimensions;
    min-height: $start-item-small-dimensions;
    max-width: $start-item-small-dimensions;
    max-height: $start-item-small-dimensions;
    padding: $start-item-small-padding;
    text-decoration: $start-item-text-decoration;
}

.startItem:hover {
    color: $primary-hover-color;
    background: $secondary-hover-bg-color;
    transition: $transition-colors-300ms;
    border-radius: $small-border-radius;
}

.activitiesIcon,
.activitiesItem,
.articlesIcon,
.articlesItem,
.contactsIcon,
.contactsItem,
.moneyIcon,
.moneyItem,
.tasksIcon,
.tasksItem,
.usersIcon,
.usersItem {
    z-index: $start-items-index;
    position: $start-items-icons-position;
}

.activitiesIcon,
.articlesIcon,
.contactsIcon,
.moneyIcon,
.tasksIcon,
.usersIcon {
    font-size: $font-size-base1;
    top: $start-icons-small-top;
}

.activitiesItem {
    top: $activities-item-top;
    left: $activities-item-left;
}
.articlesItem {
    bottom: $articles-item-bottom;
    left: $articles-item-left;
}
.contactsItem {
    top: $contacts-item-top;
    left: $contacts-item-left;
}
.moneyItem {
    bottom: $money-item-bottom;
    left: $money-item-left;
}
.tasksItem {
    bottom: $tasks-item-bottom;
    left: $tasks-item-left;
}
.usersItem {
    top: $users-item-top;
    left: $users-item-left;
}

// Min width 411px
@media (min-width: $min-width-xs) {
    .activitiesItem {
        top: $activities-item-top-xs;
        left: $activities-item-left-xs;
    }
    .articlesItem {
        bottom: $articles-item-bottom-xs;
        left: $articles-item-left-xs;
    }
    .contactsItem {
        top: $contacts-item-top-xs;
        left: $contacts-item-left-xs;
    }
    .moneyItem {
        bottom: $money-item-bottom-xs;
        left: $money-item-left-xs;
    }
    .tasksItem {
        bottom: $tasks-item-bottom-xs;
        left: $tasks-item-left-xs;
    }
    .usersItem {
        top: $users-item-top-xs;
        left: $users-item-left-xs;
    }
}

// Min width 454px
@media (min-width: $min-width-xs2) {
    .moneyItem {
        bottom: $money-item-bottom-xs2;
        left: $money-item-left-xs2;
    }
    .tasksItem {
        bottom: $tasks-item-bottom-xs2;
        left: $tasks-item-left-xs2;
    }
    .contactsItem {
        top: $contacts-item-top-xs2;
        left: $contacts-item-left-xs2;
    }
}

// Min width 547px
@media (min-width: $min-width-sm2) {
    .activitiesItem {
        top: $activities-item-top-sm2;
        left: $activities-item-left-sm2;
    }
    .articlesItem {
        bottom: $articles-item-bottom-sm2;
        left: $articles-item-left-sm2;
    }
    .contactsItem {
        top: $contacts-item-top-sm2;
        left: $contacts-item-left-sm2;
    }
    .moneyItem {
        bottom: $money-item-bottom-sm2;
        left: $money-item-left-sm2;
    }
    .tasksItem {
        bottom: $tasks-item-bottom-sm2;
        left: $tasks-item-left-sm2;
    }
    .usersItem {
        top: $users-item-top-sm2;
        left: $users-item-left-sm2;
    }
}

// Min width 560px
@media (min-width: $min-width-sm4) {
    .startContainer {
        padding: $start-container-padding-sm4;
    }

    .articlesItem {
        bottom: $articles-item-bottom-sm4;
        left: $articles-item-left-sm4;
    }
    .moneyItem {
        bottom: $money-item-bottom-sm4;
        left: $money-item-left-sm4;
    }
}

// Min width 768px
@media (min-width: $min-width-md) {
    .startHeader {
        font-size: $start-header-font-size-md;
    }
    .startDescription {
        margin-top: $start-description-margin-md;
    }
    .startButton {
        margin-top: $start-button-margin-top-md;
    }
    .startItem {
        border-radius: $small-border-radius;
        min-width: $start-item-large-dimensions;
        min-height: $start-item-large-dimensions;
        max-width: $start-item-large-dimensions;
        max-height: $start-item-large-dimensions;
        padding: $start-item-text-large-padding;
    }
    .activitiesIcon,
    .articlesIcon,
    .contactsIcon,
    .moneyIcon,
    .tasksIcon,
    .usersIcon {
        font-size: $start-icons-font-size-md;
        top: $start-icons-big-top;
    }

    .activitiesItem {
        top: $activities-item-top-md;
        left: $activities-item-left-md;
    }
    .articlesItem {
        bottom: $articles-item-bottom-md;
        left: $articles-item-left-md;
    }
    .contactsItem {
        top: $contacts-item-top-md;
        left: $contacts-item-left-md;
    }
    .moneyItem {
        bottom: $money-item-bottom-md;
        left: $money-item-left-md;
    }
    .tasksItem {
        top: $tasks-item-top-md;
        left: $tasks-item-left-md;
    }
    .usersItem {
        left: $users-item-left-md;
    }
}

// Min width 992px
@media (min-width: $min-width-lg2) {
    .startHeader {
        font-size: $start-header-font-size-lg2;
    }
    .startDescription {
        max-width: $start-description-max-width-lg2;
    }

    .activitiesItem {
        top: $activities-item-top-lg2;
        left: $activities-item-left-lg2;
    }
    .articlesItem {
        bottom: $articles-item-bottom-lg2;
        left: $articles-item-left-lg2;
    }
    .contactsItem {
        top: $contacts-item-top-lg2;
        left: $contacts-item-left-lg2;
    }
    .moneyItem {
        bottom: $money-item-bottom-lg2;
        left: $money-item-left-lg2;
    }
    .tasksItem {
        top: $tasks-item-top-lg2;
        left: $tasks-item-left-lg2;
    }
    .usersItem {
        bottom: $users-item-bottom-lg2;
        left: $users-item-left-lg2;
    }
}

// Min width 1200px
@media (min-width: $min-width-xl) {
    .startHeader,
    .startDescription,
    .startButton {
        margin-left: $start-header-description-button-margin-left-xl;
    }
    .startButton {
        margin-top: $start-button-margin-top-xl;
    }

    .activitiesItem {
        top: $activities-item-top-xl;
        left: $activities-item-left-xl;
    }
    .articlesItem {
        bottom: $articles-item-bottom-xl;
        left: $articles-item-left-xl;
    }
    .contactsItem {
        top: $contacts-item-top-xl;
        left: $contacts-item-left-xl;
    }
    .moneyItem {
        bottom: $money-item-bottom-xl;
        left: $money-item-left-xl;
    }
    .tasksItem {
        top: $tasks-item-top-xl;
        left: $tasks-item-left-xl;
    }
    .usersItem {
        top: $users-item-top-xl;
        left: $users-item-left-xl;
    }
}

// Min width 1400px
@media (min-width: $min-width-2xl) {
    .startHeader {
        font-size: $font-size-xxl;
    }
    .startHeader,
    .startDescription,
    .startButton {
        margin-left: $start-header-description-button-margin-left-2xl;
    }
    .startDescription {
        font-size: $font-size-big;
    }

    .activitiesItem {
        top: $activities-item-top-2xl;
        left: $activities-item-left-2xl;
    }
    .articlesItem {
        bottom: $articles-item-bottom-2xl;
        left: $articles-item-left-2xl;
    }
    .contactsItem {
        top: $contacts-item-top-2xl;
        left: $contacts-item-left-2xl;
    }
    .moneyItem {
        bottom: $money-item-bottom-2xl;
        left: $money-item-left-2xl;
    }
    .tasksItem {
        top: $tasks-item-top-2xl;
        left: $tasks-item-left-2xl;
    }
    .usersItem {
        bottom: $users-item-bottom-2xl;
        left: $users-item-left-2xl;
    }
}
