// Colors
$primary-text-color: #4B5563;
$secondary-text-color: #5E5E5E;
$primary-hover-color: #1BBD79;
$primary-hover-bg-color: #F6F6F8;
$transition-colors-300ms: color 300ms, background-color 300ms;

// Border radius
$small-border-radius: 12px;

// Body
$body-bg: #F8FAFC;
$content-bg: #FFFFFF;

// Fonts
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-big: 1.563rem;
$font-size-medium: 1.1rem;
$font-size-small: 0.75rem;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// All
$box-sizing-all: border-box;

// min/max width/height
$min-max-width-height-small: 33px;
$min-max-width-height-big: 44px;

// ActivityLog
$activity-my-button: 9px 8.5px 10px 8px;

// Button
$button-padding: 10px;
$mobile-button-display: inline;
$my-button-padding: 4px 9px 10px 7.5px;
$my-big-button-position: fixed;
$my-big-button-left: -22px;
$my-big-button-top: 8px;
$my-big-button-padding-left: 28px;

// Card
$card-width: 100%;
$card-margin-left: auto;
$card-margin-right: auto;
$my-card-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

// Dashboard
$admin-panel-position: relative;
$admin-panel-top: -4px;
$admin-panel-margin-bottom: -4px;

// DataTable
$td-cursor: pointer;
$id-column-width-phone: 20%;
$name-full-name-columns-width-phone: 60%;
$tablet-desktop-columns-display-phone: none;
$action-column-width: 1%;
$description-name-columns-overflow: hidden;
$description-name-columns-whitespace: nowrap;
$description-name-columns-max-width: 280px;

// Dialog
$dialog-mask-padding: 0 10px;
$dialog-header-padding-top: 18px;
$dialog-header-padding-bottom: 0;
$dialog-content-padding: 20px;
$dialog-header-icon-display: none;
$dialog-footer-padding: 20px;

// Dropdown
$dropdown-items-padding: 0;

// Login
$login-card-margin: auto;
$login-card-position: relative;
$login-card-position-top: 150px;
$login-card-position-max-width: 550px;
$login-card-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
$links-text-decoration: none;
$links-position: absolute;
$back-link-top: 15px;
$back-link-left: 20px;
$auth-links-top: 12px;
$auth-links-right: 20px;

// Menu, MenuBar
$menu-item-a-text-decoration: none;
$avatar-position: relative;
$avatar-right: 15px;
$menu-menu-list-padding: 0;
$menu-menu-list-margin: 0;
$menu-menu-list-gap: 5px;
$menu-menu-list-min-width: 170px;
$menu-menu-list-max-width: 170px;
$menu-menu-list-menu-item-content-border-radius: 5px;
$submenu-header-display: none;
$menu-item-icon-margin-right: 20px;
$menubar-width: 100vw;
$menubar-position: fixed;
$menubar-z-index: 100;
$menubar-padding: 5px;
$menubar-margin: 0;
$menubar-justify-content: space-between;
$menubar-button-position: relative;
$menubar-button-left: 10px;
$menubar-button-color: black;
$menubar-button-icon-width: 20px;
$menubar-button-icon-height: 20px;
$menubar-root-list-padding: 0;
$menubar-root-list-margin: 0;
$my-navbar-position: fixed;
$menubar-box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);

// Paginator
$paginator-padding-top: 25px;
$paginator-margin-bottom: -20px;

// PanelMenu
$panel-menu-display: flex;
$panel-menu-flex-direction: column;
$panel-menu-gap: 10px;
$panel-menu-margin-top: 10px;
$panel-menu-header-action-padding: 13px;
$panel-menu-header-action-text-decoration: none;
$panel-menu-header-action-color: #5E5E5E;
$panel-menu-header-content-border: transparent;
$panel-menu-header-action-icon-font-size: 20px;

// Sidebar
$sidebar-max-width: 270px;
$sidebar-header-padding-left: 30px;
$sidebar-hr-position: relative;
$sidebar-hr-bottom: 4px;
$my-sidebar-display: none;
$my-sidebar-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
$sidebar-item-margin-left: -1px;
$sidebar-item-dimensions: 50px;
$sidebar-item-padding: 14px 13px 13px 13px;

// Tooltip
$tooltip-arrow-display: none;
$tooltip-text-padding: 5px 10px;

// Toast
$toast-position: fixed;
$toast-top: 10px;
$toast-right: 10px;
$toast-width: 95vw;
$toast-message-content-display: flex;
$toast-message-content-gap: 5px;
$toast-icon-close-margin-left: 5px;
$success-toast-bg: #EAF8F3;
$warn-toast-bg: #FFF5E8;
$error-toast-bg: #FDEDEC;


// Media min width 530px
$toast-message-media-min-width-530px-width: max-content;
$toast-message-media-min-width-530px-max-width: max-content;
$avatar-min-width-530px-right: 25px;
$role-birthday-id-activity-columns-min-width-530px-display: table-cell;
$id-column-min-width-530px-width: 15%;
$name-full-name-columns-min-width-530px-width: 45%;

// Media min width 768px
$tablet-column-min-width-768px-display: table-cell;
$my-card-min-width-768px-margin-bottom: 4px;
$id-column-min-width-768px-width: 10%;
$name-full-name-columns-min-width-768px-width: 25%;
$role-birthday-columns-min-width-768px-width: 18%;
$created-at-activity-column: 28%;
$email-column-min-width-768px-width: 30%;

// Media min width 961px
$avatar-min-width-961px-right: 65px;
$menubar-menuitem-content-min-width-961px-position: relative;
$menubar-menuitem-content-min-width-961px-left: 40px;
$my-button-min-width-961px-padding: 9px 8.5px 10px 8px;
$id-column-min-width-961px-width: 10%;

// Media min width 992px
$desktop-column-min-width-992px-display: table-cell;
$desktop-button-min-width-992px-display: flex;
$mobile-button-min-width-992px-display: none;
$email-column-min-width-992px-width: 32%;
$role-birthday-column-min-width-992px-width: 15%;
$created-at-activity-column-width: 20%;
$my-navbar-min-width-992px-display: none;
$my-sidebar-min-width-992px-display: flex;
$my-sidebar-menuitem-text-min-width-992px-display: none;
$admin-panel-min-width-992px-top: 0;
$admin-panel-min-width-992px-margin-bottom: 0;

// Media min width 1200px
$id-column-min-width-1200px-width: 8%;
$name-full-name-columns-min-width-1200px-width: 20%;
$email-column-min-width-1200px-width: 28%;
$created-at-column-min-width-1200px-display: table-cell;
$created-at-column-min-width-1200px-width: 20%;

// Media min width 1400px
$id-column-min-width-1400px-width: 6%;
$name-full-name-columns-min-width-1400px-width: 12%;
$email-column-min-width-1400px-width: 16%;
$role-birthday-columns-min-width-1400px-width: 10%;
$created-at-updated-at-columns-min-width-1400px-display: table-cell;
$created-at-updated-at-columns-min-width-1400px-width: 14%;

// Media min width 1500px
$created-at-updated-at-columns-min-width-1500px-width: 12%;

// Media max width 550px
$sidebar-sidebar-mask-max-width-550px-display: none;
$sidebar-sidebar-mask-min-width-550px-display: flex;

// Medias
$minWidthSm: 530px;
$minWidthSm1: 550px;
$minWidthMd: 768px;
$minWidthLg: 961px;
$minWidthLg2: 992px;
$minWidthXl: 1200px;
$minWidth2Xl: 1400px;
$minWidth3Xl: 1500px;

$maxWidthSm1: 550px;
