// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Primeicons
@import 'primeicons/primeicons.css';

* {
    box-sizing: $box-sizing-all;
}

// Button
.p-button {
    border-radius: $button-border-radius;
    max-height: $min-max-width-height-small;
    min-height: $min-max-width-height-small;
    padding: $button-padding;
}
.mobileButton {
    display: $mobile-button-display;
}
.myButton {
    padding: $my-button-padding;
    max-width: $min-max-width-height-small;
    min-width: $min-max-width-height-small;
}


// Card
.myCard {
    width: $card-width;
    max-width: $card-max-width;
    margin-left: $card-margin-left;
    margin-right: $card-margin-right;
}


// Dashboards
.userDashboard {
    top: $user-dashboard-top;
}


// DataTable
td {
    cursor: $td-cursor;
}
.p-column-title {
    font-size: $font-size-base
}
.idColumn {
    width: $id-column-width-phone;
}
.nameColumn,
.fullNameColumn {
    width: $name-full-name-columns-width-phone;
}
.tabletColumn,
.desktopButton,
.desktopColumn {
    display: $tablet-desktop-columns-display-phone;
}
.actionColumn {
    width: $action-column-width;
}


// Dialog
.p-dialog-mask {
    padding: $dialog-mask-padding;
}
.p-dialog-header {
    padding-top: $dialog-header-padding-top;
    padding-bottom: $dialog-header-padding-bottom;
}
.p-dialog-content {
    padding: $dialog-content-padding;
}
.p-dialog-header-icon {
    display: $dialog-header-icon-display;
}
.p-dialog-footer {
    padding: $dialog-footer-padding;
}


// Dropdown
.p-dropdown-items {
    padding: $dropdown-items-padding;
}


// InputText
.p-inputtext {
    max-height: $min-max-width-height-medium;
}


// Menu, MenuBar
.p-menuitem a {
    text-decoration: $menu-item-a-text-decoration;
}
.p-avatar {
    position: $avatar-position;
    right: $avatar-right;
}
.p-menu,
.p-menu-list {
    padding: $menu-menu-list-padding;
    margin: $menu-menu-list-margin;
    gap: $menu-menu-list-gap;
    min-width: $menu-menu-list-min-width;
    max-width: $menu-menu-list-max-width;
}
.p-menu,
.p-menu-list,
.p-menuitem-content {
    border-radius: $menu-menu-list-menu-item-content-border-radius;
}
.p-submenu-header {
    display: $submenu-header-display;
}
.p-menuitem-icon {
    margin-right: $menu-item-icon-margin-right;
}
.p-menubar {
    width: $menubar-width;
    position: $menubar-position;
    z-index: $menubar-z-index;
    padding: $menubar-padding;
    margin: $menubar-margin;
    justify-content: $menubar-justify-content;
}
.p-menubar-button {
    position: $menubar-button-position;
    left: $menubar-button-left;
    color: $menubar-button-color;
}
.p-menubar-button .p-icon {
    width: $menubar-button-icon-width;
    height: $menubar-button-icon-height;
}
.p-menubar-root-list {
    padding: $menubar-root-list-padding;
    margin: $menubar-root-list-margin;
}


// Paginator
.p-paginator {
    font-size: $font-size-base;
    padding-top: $paginator-padding-top;
    margin-bottom: $paginator-margin-bottom;
}
.p-paginator-element {
    max-height: $min-max-width-height-small;
    max-width: $min-max-width-height-small;
    min-width: $min-max-width-height-small;
}


// Toast
.p-toast-message {
    position: $toast-position;
    font-size: $font-size-base;
    top: $toast-top;
    right: $toast-right;
    width: $toast-width;
}
.p-toast-message-content {
    display: $toast-message-content-display;
    gap: $toast-message-content-gap;
}
.p-toast-icon-close {
    margin-left: $toast-icon-close-margin-left;
}



@media (min-width: 530px) {
    .p-toast-message {
        width: $toast-message-media-min-width-530px-width;
        max-width: $toast-message-media-min-width-530px-max-width;
    }
    .p-avatar {
        right: $avatar-min-width-530px-right;
    }
}

@media (min-width: 768px) {
    .tabletColumn {
        display: $tablet-column-min-width-768px-display;
    }
    .myCard {
        margin-bottom: $my-card-min-width-768px-margin-bottom;
    }
    .idColumn {
        width: $id-column-min-width-768px-width;
    }
    .nameColumn,
    .fullNameColumn {
        width: $name-full-name-column-min-width-768px-width;
    }
}
@media (min-width: 961px) {
    .p-avatar {
        right: $avatar-min-width-961px-right;
    }
    .p-menubar .p-menuitem-content {
        position: $menubar-menuitem-content-min-width-961px-position;
        left: $menubar-menuitem-content-min-width-961px-left;
    }
}
@media (min-width: 992px) {
    .desktopColumn {
        display: $desktop-column-min-width-992px-display;
    }
    .desktopButton {
        display: $desktop-button-min-width-992px-display;
    }
    .myButton {
        padding: $my-button-min-width-992px-padding;
    }
    .mobileButton {
        display: $mobile-button-min-width-992px-display;
    }
    .emailColumn {
        width: $email-column-min-width-992px-width;
    }
    .roleColumn,
    .birthdayColumn {
        width: $role-birthday-column-min-width-992px-width;
    }
}


@media (max-width: 550px) {
    .p-toast-message-success {
        background: $success-toast-bg;
    }
    .p-toast-message-warn {
        background: $warn-toast-bg;
    }
    .p-toast-message-error {
        background: $error-toast-bg;
    }
}


// Share menuitem disabled for now
.p-menuitem:nth-child(5) .p-menuitem-link {
    opacity: 0.3;
    cursor: default;
}
