// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Primeicons
@import 'primeicons/primeicons.css';

* {
    box-sizing: $box-sizing-all;
}

// Button
.p-button {
    border-radius: $small-border-radius;
    padding: $button-padding;
}
.mobileButton {
    display: $mobile-button-display;
}
.myButton {
    padding: $my-button-padding;
    max-height: $min-max-width-height-small;
    min-height: $min-max-width-height-small;
    max-width: $min-max-width-height-small;
    min-width: $min-max-width-height-small;
}
.myBigButton {
    position: $my-big-button-position;
    left: $my-big-button-left;
    top: $my-big-button-top;
    padding-left: $my-big-button-padding-left;
    max-height: $min-max-width-height-big;
    min-height: $min-max-width-height-big;
    max-width: $min-max-width-height-big;
    min-width: $min-max-width-height-big;
}
.smallHeightButton {
    max-height: $min-max-width-height-small;
    min-height: $min-max-width-height-small;
}

// Card
.myCard {
    margin-left: $card-margin-left;
    margin-right: $card-margin-right;
    box-shadow: $my-card-box-shadow;
}

// Dashboards
.adminPanel {
    position: $admin-panel-position;
    top: $admin-panel-top;
    margin-bottom: $admin-panel-margin-bottom;
}

// DataTable
td {
    cursor: $td-cursor;
}
.p-column-title {
    font-size: $font-size-base;
}
.idColumn {
    width: $id-column-width-phone;
}
.nameColumn,
.fullNameColumn {
    width: $name-full-name-columns-width-phone;
}
.tabletColumn,
.desktopButton,
.desktopColumn {
    display: $tablet-desktop-columns-display-phone;
}
.actionColumn {
    width: $action-column-width;
}

// Dialog
.p-dialog-mask {
    padding: $dialog-mask-padding;
}
.p-dialog-header {
    padding-top: $dialog-header-padding-top;
    padding-bottom: $dialog-header-padding-bottom;
}
.p-dialog-content {
    padding: $dialog-content-padding;
}
.p-dialog-header-icon {
    display: $dialog-header-icon-display;
}
.p-dialog-footer {
    padding: $dialog-footer-padding;
}

// Dropdown
.p-dropdown-items {
    padding: $dropdown-items-padding;
}

// InputText
.p-inputtext {
    max-height: $min-max-width-height-big;
}

// Login & Register
.loginCard,
.registerCard {
    margin: $auth-card-margin;
    position: $auth-card-position;
    top: $auth-card-position-top;
    box-shadow: $login-card-box-shadow;
}
.loginCard {
    max-width: $login-card-position-max-width;
}
.registerCard {
    max-width: $register-card-position-max-width;
}
.backLink,
.loginLink,
.registerLink {
    position: $links-position;
    font-size: $font-size-medium;
    text-decoration: $links-text-decoration;
    color: $primary-text-color;
    transition: $transition-colors-300ms;
}
.backLink:hover,
.loginLink:hover,
.registerLink:hover {
    color: $primary-hover-color
}
.backLink {
    top: $back-link-top;
    left: $back-link-left;
}
.loginLink,
.registerLink {
    top: $auth-links-top;
    right: $auth-links-right;
}
.authInputText {
    height: $auth-input-text-height;
    width: $auth-input-text-width;
    max-width: $auth-input-text-max-width;
}
.loginCard .p-card-body,
.registerCard .p-card-body {
    padding: $auth-card-body-padding;
}

.loginCard .p-card-content,
.registerCard .p-card-content {
    padding: $auth-card-content-padding;
}

// Menu, MenuBar
.p-menuitem a {
    text-decoration: $menu-item-a-text-decoration;
}
.p-menubar .p-avatar {
    position: $avatar-position;
    right: $avatar-right;
}
.p-menu,
.p-menu-list {
    padding: $menu-menu-list-padding;
    margin: $menu-menu-list-margin;
    gap: $menu-menu-list-gap;
    min-width: $menu-menu-list-min-width;
}
.p-menu,
.p-menu-list,
.p-menuitem-content {
    border-radius: $menu-menu-list-menu-item-content-border-radius;
}
.p-submenu-header {
    display: $submenu-header-display;
}
.p-menuitem-icon {
    margin-right: $menu-item-icon-margin-right;
}
.p-menubar {
    width: $menubar-width;
    position: $menubar-position;
    z-index: $menubar-z-index;
    padding: $menubar-padding;
    margin: $menubar-margin;
    justify-content: $menubar-justify-content;
    box-shadow: $menubar-box-shadow;
}
.p-menubar-button {
    position: $menubar-button-position;
    left: $menubar-button-left;
    color: $menubar-button-color;
}
.p-menubar-button .p-icon {
    width: $menubar-button-icon-width;
    height: $menubar-button-icon-height;
}
.p-menubar-root-list {
    padding: $menubar-root-list-padding;
    margin: $menubar-root-list-margin;
}
.myNavbar {
    position: $my-navbar-position;
}
.applicationHeader {
    text-decoration: $application-header-text-decoration;
    color: $primary-text-color;
    font-size: $application-header-font-size;
}
.applicationHeader:hover {
    color: $primary-text-color;
}
.guestNavLink {
    font-size: $guest-nav-link-font-size;
}
.guestNavLink:hover,
.guestNavLink:focus {
    color: $primary-hover-color;
}

// Paginator
.p-paginator {
    font-size: $font-size-base;
    padding-top: $paginator-padding-top;
    margin-bottom: $paginator-margin-bottom;
}
.p-paginator-element {
    max-height: $min-max-width-height-small;
    max-width: $min-max-width-height-small;
    min-width: $min-max-width-height-small;
}

// PanelMenu
.p-panelmenu {
    display: $panel-menu-display;
    flex-direction: $panel-menu-flex-direction;
    gap: $panel-menu-gap;
    margin-top: $panel-menu-margin-top;
}
.sidebarItem {
    margin-left: $sidebar-item-margin-left;
    min-width: $sidebar-item-dimensions;
    min-height: $sidebar-item-dimensions;
    max-width: $sidebar-item-dimensions;
    max-height: $sidebar-item-dimensions;
    padding: $sidebar-item-padding;
    text-decoration: $panel-menu-header-action-text-decoration;
    color: $panel-menu-header-action-color;
}
.sidebarItem:hover {
    color: $primary-hover-color;
    background: $primary-hover-bg-color;
    transition: $transition-colors-300ms;
    border-radius: $small-border-radius;
}
.sidebarItem {
    border-color: $panel-menu-header-content-border;
    border-radius: $small-border-radius;
}
// Sidebar
.p-sidebar {
    max-width: $sidebar-max-width;
}
.p-sidebar-header {
    padding-left: $sidebar-header-padding-left;
}
.p-sidebar-header .p-sidebar-header-content {
    font-size: $font-size-big;
}
.sidebarHr {
    position: $sidebar-hr-position;
    bottom: $sidebar-hr-bottom;
}
.sidebarUser:hover {
    background: $primary-hover-bg-color;
    transition: $transition-colors-300ms;
}
.sidebarUser {
    color: $primary-hover-color;
}
.sidebarIcon,
.sidebarUser {
    color: $secondary-text-color;
}
.p-tooltip-arrow {
    display: $tooltip-arrow-display;
}
.p-tooltip-text {
    padding: $tooltip-text-padding;
    font-size: $font-size-small;
}

// Toast
.p-toast-message {
    position: $toast-position;
    font-size: $font-size-base;
    top: $toast-top;
    right: $toast-right;
    width: $toast-width;
}
.p-toast-message-content {
    display: $toast-message-content-display;
    gap: $toast-message-content-gap;
}
.p-toast-icon-close {
    margin-left: $toast-icon-close-margin-left;
}

.emailColumn,
.roleColumn,
.createdAtColumn,
.updatedAtColumn,
.idActivityColumn,
.causerIdColumn,
.createdAtActivityColumn
{
    display: $tablet-desktop-columns-display-phone;
}
.descriptionColumn,
.nameColumn {
    overflow: $description-name-columns-overflow;
    white-space: $description-name-columns-whitespace;
    max-width: $description-name-columns-max-width;
}
.activityMyButton {
    padding: $activity-my-button;
}
.mySidebar {
    display: $my-sidebar-display;
    background: $content-bg;
    box-shadow: $my-sidebar-box-shadow;
}
@media (min-width: $minWidthSm) // 530px
{
    .p-toast-message {
        width: $toast-message-media-min-width-530px-width;
        max-width: $toast-message-media-min-width-530px-max-width;
    }
    .p-avatar {
        right: $avatar-min-width-530px-right;
    }
    .roleColumn,
    .birthdayColumn,
    .idActivityColumn {
        display: $role-birthday-id-activity-columns-min-width-530px-display;
    }
    .idColumn {
        width: $id-column-min-width-530px-width;
    }
    .nameColumn,
    .fullNameColumn {
        width: $name-full-name-columns-min-width-530px-width;
    }
}

@media (min-width: $minWidthMd) // 768px
{
    .loginCard,
    .registerCard {
        padding-bottom: $auth-card-padding-bottom;
        top: $auth-card-position-min-width-768px-top;
    }
    .loginCard .p-card-content,
    .registerCard .p-card-content,
    .loginCard .p-card-body,
    .registerCard .p-card-body {
        padding: $auth-card-body-content-padding-min-width-768px;
    }
    .idColumn {
        width: $id-column-min-width-768px-width;
    }
    .nameColumn,
    .fullNameColumn {
        width: $name-full-name-columns-min-width-768px-width;
    }
    .roleColumn,
    .birthdayColumn {
        width: $role-birthday-columns-min-width-768px-width;
    }
    .emailColumn,
    .createdAtActivityColumn {
        display: $tablet-column-min-width-768px-display;
    }
    .emailColumn {
        width: $email-column-min-width-768px-width;
    }
    .createdAtActivityColumn {
        width: $created-at-activity-column;
    }
}
@media (min-width: $minWidthLg) // 961px
{
    .idColumn {
        width: $id-column-min-width-961px-width;
    }
}
@media (min-width: $minWidthLg2) // 992px
{
    .desktopColumn {
        display: $desktop-column-min-width-992px-display;
    }
    .desktopButton {
        display: $desktop-button-min-width-992px-display;
    }
    .mobileButton {
        display: $mobile-button-min-width-992px-display;
    }
    .myButton {
        padding: $my-button-min-width-961px-padding;
    }
    .emailColumn {
        width: $email-column-min-width-992px-width;
    }
    .roleColumn,
    .birthdayColumn {
        width: $role-birthday-column-min-width-992px-width;
    }
    .myNavbar {
        display: $my-navbar-min-width-992px-display;
    }
    .mySidebar {
        display: $my-sidebar-min-width-992px-display;
    }
    .mySidebar .p-menuitem-text {
        display: $my-sidebar-menuitem-text-min-width-992px-display;
    }
    .createdAtActivityColumn {
        width: $created-at-activity-column-width;
    }
    .adminPanel {
        top: $admin-panel-min-width-992px-top;
        margin-bottom: $admin-panel-min-width-992px-margin-bottom;
    }
}
@media (min-width: $minWidthXl) // 1200px
{
    .idColumn {
        width: $id-column-min-width-1200px-width;
    }
    .nameColumn,
    .fullNameColumn {
        width: $name-full-name-columns-min-width-1200px-width;
    }
    .emailColumn {
        width: $email-column-min-width-1200px-width;
    }
    .createdAtColumn {
        display: $created-at-column-min-width-1200px-display;
        width: $created-at-column-min-width-1200px-width;
    }
}
@media (min-width: $minWidth2Xl) // 1400px
{
    .idColumn {
        width: $id-column-min-width-1400px-width;
    }
    .nameColumn,
    .fullNameColumn {
        width: $name-full-name-columns-min-width-1400px-width;
    }
    .emailColumn {
        width: $email-column-min-width-1400px-width;
    }
    .roleColumn,
    .birthdayColumn {
        width: $role-birthday-columns-min-width-1400px-width;
    }
    .createdAtColumn,
    .updatedAtColumn, {
        display: $created-at-updated-at-columns-min-width-1400px-display;
        width: $created-at-updated-at-columns-min-width-1400px-width;
    }
}
@media (min-width: $minWidth3Xl) // 1500px
{
    .createdAtColumn,
    .updatedAtColumn, {
        width: $created-at-updated-at-columns-min-width-1500px-width;
    }
}
@media (max-width: $maxWidthSm1) // 550px
{
    .p-sidebar,
    .p-sidebar-mask {
        display: $sidebar-sidebar-mask-max-width-550px-display;
    }
    .p-toast-message-success {
        background: $success-toast-bg;
    }
    .p-toast-message-warn {
        background: $warn-toast-bg;
    }
    .p-toast-message-error {
        background: $error-toast-bg;
    }
}

@media (min-width: $minWidthSm3) // 550px
{
    .p-sidebar,
    .p-sidebar-mask {
        display: $sidebar-sidebar-mask-min-width-550px-display;
    }
}

// Menuitems disabled for now
.myNavbar .p-menuitem:nth-child(5) .p-menuitem-link,
.myNavbar .p-menuitem:nth-child(3) .p-menuitem-link,
.myNavbar .p-menuitem:nth-child(4) .p-menuitem-link,
.myNavbar .p-menuitem:nth-child(5) .p-menuitem-link,
.myNavbar .p-menuitem:nth-child(6) .p-menuitem-link,
.myNavbar .p-menuitem:nth-child(7) .p-menuitem-link,
.myNavbar .p-menuitem:nth-child(9) .p-menuitem-link,
.myNavbar .p-menuitem:nth-child(10) .p-menuitem-link {
    opacity: $disabled-item-opacity;
    cursor: $disabled-item-cursor;
}


// Welcome page
.navbar {
    padding: $navbar-padding;
}
.startContainer {
    padding: $start-container-padding;
}
.startHeader {
    margin-top: $start-header-margin-top;
    font-size: $start-header-font-size;
    font-weight: $start-header-font-weight;
    font-family: $font-family-inter-sans-serif;
    color: $text-color;
}
.startDescription {
    margin-top: $start-description-margin-top;
    max-width: $start-description-max-width;
    font-size: $start-description-font-size;
    color: $secondary-text-color;
}
.startButton {
    margin-top: $start-button-margin-top;
    width: $start-button-width;
    justify-content: $start-button-justify-content;
    border-radius: $start-button-border-radius;
    font-weight: $start-button-font-weight;
    font-size: $font-size-medium;
    transition: $start-button-transition;
}
.startButton:active {
    transform: $start-button-active-transform;
}

.startItem {
    color: $secondary-gray-color;
    background: $secondary-gray-bg-color;
    transition: $transition-colors-300ms;
    border-radius: $small-border-radius;
    min-width: $start-item-min-max-width-height-small;
    min-height: $start-item-min-max-width-height-small;
    max-width: $start-item-min-max-width-height-small;
    max-height: $start-item-min-max-width-height-small;
    padding: $start-item-padding-small;
    text-decoration: $panel-menu-header-action-text-decoration;
}

.activitiesIcon,
.contactsIcon,
.moneyIcon,
.postsIcon,
.tasksIcon,
.usersIcon {
    font-size: $font-size-base1;
}
.startItem:hover {
    color: $primary-hover-color;
    background: $secondary-hover-bg-color;
    transition: $transition-colors-300ms;
    border-radius: $small-border-radius;
}

.activitiesIcon,
.activitiesItem,
.contactsIcon,
.contactsItem,
.moneyIcon,
.moneyItem,
.postsIcon,
.postsItem,
.tasksIcon,
.tasksItem,
.usersIcon,
.usersItem {
    position: $start-items-icons-position;
}

.postsIcon,
.contactsIcon,
.activitiesIcon,
.moneyIcon,
.tasksIcon,
.usersIcon {
    top: $start-icons-small-top;
}
.contactsItem {
    top: 15px;
    left: 240px;
}
.tasksItem {
    bottom: 80px;
    left: 170px;
}
.postsItem {
    bottom: 410px;
    left: 50px;
}
.moneyItem {
    bottom: 285px;
    left: 150px;
}
.activitiesItem {
    top: 50px;
    left: -140px;
}
.usersItem {
    top: 30px;
    left: 170px;
}

@media (min-width: $minWidthXs) // 411px
{
    .contactsItem {
        top: 40px;
        left: 280px;
    }
    .tasksItem {
        bottom: 60px;
        left: 220px;
    }
    .postsItem {
        bottom: 370px;
        left: 50px;
    }
    .moneyItem {
        bottom: 250px;
        left: 180px;
    }
    .activitiesItem {
        top: 50px;
        left: -140px;
    }
    .usersItem {
        top: 20px;
        left: 200px;
    }
}
@media (min-width: $minWidthSm1) // 545px
{
    .moneyItem {
        bottom: 215px;
        left: 190px;
    }
    .postsItem {
        bottom: 345px;
    }
}

@media (min-width: $minWidthSm2) {
    .contactsItem {
        bottom: 20px;
        left: 400px;
    }
    .tasksItem {
        bottom: 30px;
        left: 250px;
    }
    .postsItem {
        bottom: 295px;
        left: 100px;
    }
    .moneyItem {
        bottom: 280px;
        left: 270px;
    }
    .activitiesItem {
        top: 50px;
        left: -140px;
    }
    .usersItem {
        top: 20px;
        left: 200px;
    }
}

@media (min-width: $minWidthSm4) {
    .startContainer {
        padding: 0;
    }
}

@media (min-width: $minWidthMd) // 768px
{
    .startItem {
        color: $secondary-gray-color;
        background: $secondary-gray-bg-color;
        transition: $transition-colors-300ms;
        border-radius: $small-border-radius;
        min-width: $sidebar-item-dimensions;
        min-height: $sidebar-item-dimensions;
        max-width: $sidebar-item-dimensions;
        max-height: $sidebar-item-dimensions;
        padding: 14px;
        text-decoration: $panel-menu-header-action-text-decoration;
    }
    .activitiesIcon,
    .contactsIcon,
    .moneyIcon,
    .postsIcon,
    .tasksIcon,
    .usersIcon {
        font-size: 20px;
    }

    .activitiesIcon,
    .contactsIcon,
    .moneyIcon,
    .postsIcon,
    .tasksIcon,
    .usersIcon {
        top: $start-icons-big-top;
    }
    .startHeader {
        margin-top: 140px;
        font-size: 52px;
    }
    .startDescription {
        margin-top: 30px;
    }
    .startButton {
        margin-top: 30px;
    }
    .usersItem {
        left: 350px;
    }
    .contactsItem {
        top: 50px;
        left: 560px;
    }
    .tasksItem {
        bottom: 70px;
        left: 430px;
    }
    .postsItem {
        bottom: 340px;
        left: 400px;
    }
    .moneyItem {
        bottom: 150px;
        left: 470px;
    }
    .activitiesItem {
        top: 60px;
        left: -110px;
    }
}

@media (min-width: $minWidthLg2) // 992px
{
    .startHeader {
        font-size: 55px;
    }
    .applicationHeader {
        font-size: 25px;
    }
    .startHeader {
        margin-top: 160px;
    }
    .startDescription {
        max-width: 650px;
    }
    .usersItem {
        bottom: 50px;
        left: 500px;
    }
    .contactsItem {
        top: 30px;
        left: 740px;
    }
    .tasksItem {
        bottom: 120px;
        left: 630px;
    }
    .postsItem {
        bottom: 340px;
        left: 600px;
    }
    .moneyItem {
        bottom: 230px;
        left: 700px;
    }
    .activitiesItem {
        top: 50px;
        left: 40px;
    }
}
@media (min-width: $minWidthXl) // 1200px
{
    .startContainer {
        margin-left: 110px;
    }
    .startHeader {
        margin-top: 180px;
    }
    .startButton {
        margin-top: 40px;
    }
    .usersItem {
        bottom: 50px;
        left: 620px;
    }
    .contactsItem {
        left: 850px;
    }
    .tasksItem {
        bottom: 120px;
        left: 730px;
    }
    .postsItem {
        bottom: 330px;
        left: 740px;
    }
    .moneyItem {
        bottom: 200px;
        left: 790px;
    }
    .activitiesItem {
        top: 50px;
        left: 150px;
    }
}
@media (min-width: $minWidth2Xl) // 1400px
{
    .startHeader {
        margin-top: 200px;
    }
    .startContainer {
        margin-left: 130px;
    }
    .startHeader {
        font-size: 60px;
    }
    .startDescription {
        font-size: 25px;
    }
    .usersItem {
        bottom: 50px;
        left: 720px;
    }
    .contactsItem {
        left: 950px;
    }
    .tasksItem {
        bottom: 120px;
        left: 830px;
    }
    .postsItem {
        bottom: 340px;
        left: 860px;
    }
    .moneyItem {
        bottom: 200px;
        left: 890px;
    }
    .activitiesItem {
        top: 50px;
        left: 250px;
    }
}
