@import 'mixins';

$dock-items: (
  activity-log: activity,
  admin: main,
  dashboard: main,
  entities: main,
  files: file,
  settings: main,
  structural: main,
  translations: main,
);

@each $item, $type in $dock-items {
  #__nuxt:has(##{$item}),
  body:has(##{$item}),
  body:has(main##{$item}) {
    .p-dock,
    .nuc-dock,
    .ad-dock {
      .iconify[nui-type='#{$item}'],
      .iconify[data-nui-type='#{$item}'],
      [data-nui-type='#{$item}'] .iconify,
      .pi[nui-type='#{$item}'],
      .pi[data-nui-type='#{$item}'] {
        @include entity-with-suffix($type) using ($suffix) {
          @include entity-dock-item-styles(
            var(--#{$type}-c#{$suffix}) !important
          );
        }
      }
    }
  }

  .nuc-sidebar-link[nui-type='#{$item}']:hover,
  .nuc-sidebar-link[data-nui-type='#{$item}']:hover {
    @include entity-sidebar-link-hover($type);
  }

  .nuc-sidebar-item.is-active .nuc-sidebar-link[nui-type='#{$item}'],
  .nuc-sidebar-item.is-active .nuc-sidebar-link[data-nui-type='#{$item}'] {
    @include entity-sidebar-link-active($type);
  }
}

@each $type in $nui-types {
  .nuc-sidebar-link[nui-type='#{$type}']:hover,
  .nuc-sidebar-link[data-nui-type='#{$type}']:hover {
    @include entity-sidebar-link-hover($type);
  }

  .nuc-sidebar-item.is-active .nuc-sidebar-link[nui-type='#{$type}'],
  .nuc-sidebar-item.is-active .nuc-sidebar-link[data-nui-type='#{$type}'] {
    @include entity-sidebar-link-active($type);
  }
}
