$home-container-padding-top: 200px;

// Min width 560px
$home-container-padding-top-sm4: 220px;

// Min width 768px
$home-container-padding-top-md: 250px;

// Min width 992px
$home-container-padding-top-lg2: 270px;

// Min width 1200px
$home-container-padding-top-xl: 290px;

// Min width 1400px
$home-container-padding-top-2xl: 310px;
