// Welcome charts
$welcome-charts-container-width: 100%;
$welcome-charts-container-margin: 55px auto 0 auto;
$welcome-charts-container-padding: 70px 0 100px 0;
$welcome-charts-container-display: flex;
$welcome-charts-container-flex-direction: column;
$welcome-charts-container-justify-content: center;
$welcome-charts-container-align-items: center;
$welcome-charts-container-background: var(--main-item-color);

$welcome-pie-chart-z-index: 100;
$welcome-pie-chart-position: relative;
$welcome-pie-chart-bottom: 115px;
$welcome-pie-chart-left: 190px;
$welcome-pie-chart-width: 8.5rem;
$welcome-pie-chart-height: 8.5rem;
$welcome-pie-chart-margin-right: 30px;

$welcome-chart-card-display: flex;
$welcome-chart-card-justify-content: center;
$welcome-chart-card-height: 100%;
$welcome-chart-card-width: 100%;
$welcome-chart-card-max-height: 375px;
$welcome-chart-card-max-width: 400px;
$welcome-chart-card-padding: 35px;

$welcome-horizontal-chart-height: 300px;

$welcome-charts-header-font-weight: 800;
$welcome-charts-header-padding: 0 35px 0 35px;
$welcome-charts-header-text-align: center;
$welcome-charts-header-margin-bottom: 60px;

// Min width 992px
$welcome-charts-container-flex-direction-lg2: row;

$welcome-charts-header-max-width-lg2: 430px;
$welcome-charts-header-text-align-lg-2: left;
$welcome-charts-header-padding-lg-2: 0 55px 0 35px;
