@import '../../../../variables/pages/welcome/features/charts_variables';

@import '../../../../variables/base/colors_variables';
@import '../../../../variables/base/fonts_variables';
@import '../../../../variables/base/medias_variables';

.welcomeChartsContainer {
    width: $welcome-charts-container-width;
    margin: $welcome-charts-container-margin;
    padding: $welcome-charts-container-padding;
    display: $welcome-charts-container-display;
    flex-direction: $welcome-charts-container-flex-direction;
    justify-content: $welcome-charts-container-justify-content;
    align-items: $welcome-charts-container-align-items;
    background: $welcome-charts-container-background;

    .welcomeChartCard {
        display: $welcome-chart-card-display;
        justify-content: $welcome-chart-card-justify-content;
        height: $welcome-chart-card-height;
        width: $welcome-chart-card-width;
        max-height: $welcome-chart-card-max-height;
        max-width: $welcome-chart-card-max-width;
        padding: $welcome-chart-card-padding;

        .welcomePieChart {
            z-index: $welcome-pie-chart-z-index;
            position: $welcome-pie-chart-position;
            bottom: $welcome-pie-chart-bottom;
            left: $welcome-pie-chart-left;
            width: $welcome-pie-chart-width;
            height: $welcome-pie-chart-height;
            margin-right: $welcome-pie-chart-margin-right;
        }

        .welcomeHorizontalChart {
            height: $welcome-horizontal-chart-height;
        }
    }

    .welcomeChartsHeader {
        font-family: $font-family-inter-sans-serif;
        font-weight: $welcome-charts-header-font-weight;
        color: $dark-text-color;
        font-size: $font-size-big1;
        padding: $welcome-charts-header-padding;
        text-align: $welcome-charts-header-text-align;
        margin-bottom: $welcome-charts-header-margin-bottom;

        // Min width 992px
        @media (min-width: $min-width-lg2) {
            max-width: $welcome-charts-header-max-width-lg2;
            text-align: $welcome-charts-header-text-align-lg-2;
            padding: $welcome-charts-header-padding-lg-2;
        }
    }

    // Min width 992px
    @media (min-width: $min-width-lg2) {
        flex-direction: $welcome-charts-container-flex-direction-lg2;
    }
}
