@import '../../../variables/pages/home/home_bricks_variables';

@import '../../../variables/base/borders_variables';
@import '../../../variables/base/colors_variables';
@import '../../../variables/base/fonts_variables';

.homeBricksGrid {
    max-width: $home-bricks-grid-max-width;
    position: $home-bricks-grid-position;
    top: $home-bricks-grid-top;
    font-size: $home-bricks-font-size;
    margin: $home-bricks-grid-margin !important;
    padding-left: $home-brick-grid-padding-left;
    padding-bottom: $home-bricks-grid-padding-bottom;

    .grid-item {
        min-width: $home-bricks-grid-grid-item-min-width;
        height: $home-bricks-grid-grid-item-height;
        color: $secondary-text-color;
        gap: $home-bricks-grid-grid-item-gap;

        .pi {
            font-size: $home-bricks-grid-item-pi-font-size;
        }
    }
}
