$button-padding: 10px;
$mobile-button-display: inline;
$my-button-padding: 5px 7px 10px 7px;
$my-big-button-position: fixed;
$my-big-button-left: -22px;
$my-big-button-top: 8px;
$my-big-button-padding-left: 28px;
$Button-transition: filter 0.3s;
$Button-hover-filter: brightness(1.08);

// Min width 992px
$desktop-button-display-min-width-992px: flex;
$mobile-button-display-min-width-992px: none;
$my-button-padding-min-width-992px: 9px 8.5px 10px 8px;
