$button-padding: 10px;
$mobile-button-display: inline;
$my-button-padding: 4px 9px 10px 7.5px;
$my-big-button-position: fixed;
$my-big-button-left: -22px;
$my-big-button-top: 8px;
$my-big-button-padding-left: 28px;

// Min width 992px
$desktop-button-display-min-width-992px: flex;
$mobile-button-display-min-width-992px: none;
$my-button-padding-min-width-992px: 9px 8.5px 10px 8px;
