$chart-card-content-display: flex;
$chart-card-content-flex-direction: column;
$chart-card-content-align-items: center;
$chart-card-content-width: 100%;

$chart-card-body-chart: 100%;

$count-chart-card-dimensions: 256px;
