// Form container
$form-container-display: flex;
$form-container-flex-direction: column;
$form-container-gap: 1rem;
$form-container-font-size: 0.875rem;

// Form div
$form-div-display: flex;
$form-div-flex-direction: column;
$form-div-gap: 0.25rem;
