$grid-item-box-shadow:
    inset 0 0.5px 0 rgba(0, 0, 0, 0.15),
    0 2px 6px rgba(0, 0, 0, 0.15);
$grid-item-display: flex;
$grid-item-flex-direction: column;
$grid-item-justify-content: center;
$grid-item-align-items: center;
$grid-item-font-weight: bold;

$grid-item-container-max-width: 300px;

$grid-item-a-text-decoration: none;
$grid-item-hover-focus-z-index: 100;
$grid-item-hover-focus-box-shadow:
    inset 0 0.5px 0 rgba(0, 0, 0, 0.15),
    0 5px 14px rgba(0, 0, 0, 0.15);
