$progress-spinner-dimensions: 150px;
$progress-spinner-position: relative;

$annual-chart-card-progress-spinner-top: -350px;
$annual-chart-card-progress-spinner-margin-bottom: -150px;

$count-chart-card-progress-spinner-top: -75px;

$datatable-progress-spinner-top: -50px;

$progress-spinner-before-display: none;
