$panel-menu-display: flex;
$panel-menu-flex-direction: column;
$panel-menu-gap: 10px;
$panel-menu-margin-top: 10px;
$panel-menu-header-action-padding: 13px;
$panel-menu-header-action-text-decoration: none;
$panel-menu-header-action-color: #5e5e5e;
$panel-menu-header-content-border: transparent;
$panel-menu-header-action-icon-font-size: 20px;
$sidebar-max-width: 270px;
$sidebar-header-padding-left: 30px;
$sidebar-hr-position: relative;
$sidebar-hr-bottom: 4px;
$my-sidebar-display: none;
$my-sidebar-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
$sidebar-item-margin-left: -1px;
$sidebar-item-dimensions: 50px;
$sidebar-item-padding: 14px 13px 13px 13px;
$sidebar-item-text-align: center;
$sidebar-sidebar-mask-display: none;

// Min width 550px
$sidebar-sidebar-mask-display-sm3: flex;

// Min width 992px
$my-sidebar-display-lg2: flex;
$my-sidebar-menuitem-text-display-lg2: none;
