// Component styles
@import 'styles/components/button';
@import 'styles/components/canvas';
@import 'styles/components/card';
@import 'styles/components/chart';
@import 'styles/components/datatable';
@import 'styles/components/dialog';
@import 'styles/components/disabled_item';
@import 'styles/components/dropdown';
@import 'styles/components/flip_card';
@import 'styles/components/form';
@import 'styles/components/grid_item';
@import 'styles/components/input_text';
@import 'styles/components/load_content';
@import 'styles/components/loading';
@import 'styles/components/menu';
@import 'styles/components/paginator';
@import 'styles/components/panel_container';
@import 'styles/components/progress_spinner';
@import 'styles/components/show';
@import 'styles/components/test_buttons';
@import 'styles/components/toast';
@import 'styles/components/tooltip';

// Pages styles
@import 'styles/pages/activity/activity_log';
@import 'styles/pages/admin/admin_bricks';
@import 'styles/pages/auth/auth';
@import 'styles/pages/home/home';
@import 'styles/pages/settings/settings';


* {
    box-sizing: border-box;
}

body {
    background: $body-bg;
}

main {
    overflow: hidden;
}

body:has(
    #home,
    #login,
    #register
) {
    background: $white-body-bg;

    .dock {
        display: none !important;
    }
}
