@use 'sass:map';

$entity-suffixes: (
  color: c,
  dark-color: d,
  hover-color: hv,
  focus-color: f,
  secondary-color: sc,
  selected-color: sl,
  highlight-color: h,
);
$entity-vars: ();

@each $entity in $nui-types {
  $entity-map: ();

  @each $prop-name, $suffix in $entity-suffixes {
    $entity-map: map.merge(
      $entity-map,
      (
        $prop-name: var(--#{$entity}-#{$suffix}),
        #{$prop-name}-user: var(--#{$entity}-#{$suffix}-u),
        #{$prop-name}-system: var(--#{$entity}-#{$suffix}-s),
      )
    );
  }

  $entity-vars: map.merge($entity-vars, (#{$entity}: $entity-map));
}

@function entity($type, $prop) {
  @return map.get($entity-vars, $type, $prop);
}

/*  Variables (values from loop above)  */
$main-color: entity(main, color);
$main-dark-color: entity(main, dark-color);
$main-hover-color: entity(main, hover-color);
$main-focus-color: entity(main, focus-color);
$main-secondary-color: entity(main, secondary-color);
$main-selected-color: entity(main, selected-color);
$main-highlight-color: entity(main, highlight-color);
$main-color-user: entity(main, color-user);
$main-color-system: entity(main, color-system);
$main-focus-color-user: entity(main, focus-color-user);
$main-focus-color-system: entity(main, focus-color-system);
$main-hover-color-user: entity(main, hover-color-user);
$main-hover-color-system: entity(main, hover-color-system);
$main-highlight-color-user: entity(main, highlight-color-user);
$main-highlight-color-system: entity(main, highlight-color-system);
$activity-color: entity(activity, color);
$activity-hover-color: entity(activity, hover-color);
$activity-focus-color: entity(activity, focus-color);
$activity-secondary-color: entity(activity, secondary-color);
$activity-selected-color: entity(activity, selected-color);
$activity-highlight-color: entity(activity, highlight-color);
$article-color: entity(article, color);
$article-hover-color: entity(article, hover-color);
$article-focus-color: entity(article, focus-color);
$article-secondary-color: entity(article, secondary-color);
$article-selected-color: entity(article, selected-color);
$article-highlight-color: entity(article, highlight-color);
$contact-color: entity(contact, color);
$contact-hover-color: entity(contact, hover-color);
$contact-focus-color: entity(contact, focus-color);
$contact-secondary-color: entity(contact, secondary-color);
$contact-selected-color: entity(contact, selected-color);
$contact-highlight-color: entity(contact, highlight-color);
$file-color: entity(file, color);
$file-hover-color: entity(file, hover-color);
$file-focus-color: entity(file, focus-color);
$file-secondary-color: entity(file, secondary-color);
$file-selected-color: entity(file, selected-color);
$file-highlight-color: entity(file, highlight-color);
$money-color: entity(money, color);
$money-hover-color: entity(money, hover-color);
$money-focus-color: entity(money, focus-color);
$money-secondary-color: entity(money, secondary-color);
$money-selected-color: entity(money, selected-color);
$money-highlight-color: entity(money, highlight-color);
$question-color: entity(question, color);
$question-hover-color: entity(question, hover-color);
$question-focus-color: entity(question, focus-color);
$question-secondary-color: entity(question, secondary-color);
$question-selected-color: entity(question, selected-color);
$question-highlight-color: entity(question, highlight-color);
$technology-color: entity(technology, color);
$technology-hover-color: entity(technology, hover-color);
$technology-focus-color: entity(technology, focus-color);
$technology-secondary-color: entity(technology, secondary-color);
$technology-selected-color: entity(technology, selected-color);
$technology-highlight-color: entity(technology, highlight-color);
$user-color: entity(user, color);
$user-hover-color: entity(user, hover-color);
$user-focus-color: entity(user, focus-color);
$user-secondary-color: entity(user, secondary-color);
$user-selected-color: entity(user, selected-color);
$user-highlight-color: entity(user, highlight-color);
