$primary-color: var(--nuc-primary-color);
$primary-dark-color: var(--nuc-primary-dark-color);
$primary-hover-color: var(--nuc-primary-hover-color);
$primary-focus-color: var(--nuc-primary-focus-color);
$primary-secondary-color: var(--nuc-primary-secondary-color);
$primary-selected-color: var(--nuc-primary-selected-color);
$primary-highlight-color: var(--nuc-primary-highlight-color);
$primary-color-darker: var(--nuc-primary-color-darker);

/* Secondary */
$secondary-gray-color: #989898;
