@import '../../../variables/pages/admin/admin_panel_variables';

@import '../../../variables/base/medias_variables';

.adminPanel {
    position: $admin-panel-position;
    top: $admin-panel-top;
    margin-bottom: $admin-panel-margin-bottom;
}

// Min width 992px
@media (min-width: $minWidthLg2) {
    .adminPanel {
        top: $admin-panel-top-min-width-992px;
        margin-bottom: $admin-panel-margin-bottom-min-width-992px;
    }
}
