@import '../../../variables/pages/settings/settings_variables';

@import '../../../variables/base/box_shadows_variables';
@import '../../../variables/base/medias_variables';

.settings-panel-container {
    display: $settings-panel-container-display;
    flex-direction: row;

    .settings-card {
        width: 100%;
        max-width: 220px;
        margin: $settings-card-margin;
        padding: $settings-card-padding;
        box-shadow: $my-card-box-shadow;
        border-radius: 0;

        .refreshButton {
            width: 32px;
            height: 32px;

            span {
                margin-top: -2px;
                font-size: 19px;
            }
        }

        h4 {
            margin: 0;
        }

        hr {
            margin: 1em 0;
        }

        .p-card-content {
            padding: 0 1px 0 0;
        }

        .p-colorpicker-preview {
            max-width: 22px;
            max-height: 22px;
            padding: 0;
        }

        .settings-card-header-container {
            display: flex;
            justify-content: space-between;
        }

        .settings-card-item-list {
            display: $settings-card-item-list-display;
            flex-direction: $settings-card-item-list-flex-direction;
            padding-left: $settings-card-item-list-padding-left;
            gap: $settings-card-item-list-gap;
            margin: 0;

            .settings-card-item {
                display: $settings-card-item-display;
                justify-content: $settings-card-item-justify-content;
                padding-right: 3px;
            }
        }
    }

    // Min width 576px
    @media (min-width: $min-width-sm5) {
        flex-direction: $settings-panel-container-flex-direction-sm5;
    }
}

.p-colorpicker-panel,
.p-colorpicker-content {
    background: white;
    border: 1px whitesmoke;
    box-shadow: $my-card-box-shadow;
}
