@use 'sass:list';

@mixin entity-with-suffix($type) {
  @content(-u);

  .nuc-system & {
    @content(-s);
  }
}

@mixin entity-var-overrides($selector, $var-spec) {
  @each $type in $nui-types {
    #{$selector}[nui-type='#{$type}'] {
      @each $local, $entity-suffix in $var-spec {
        #{$local}: var(--#{$type}-#{$entity-suffix}-u);
      }
    }
    .nuc-system #{$selector}[nui-type='#{$type}'] {
      @each $local, $entity-suffix in $var-spec {
        #{$local}: var(--#{$type}-#{$entity-suffix}-s);
      }
    }
  }
}

@mixin entity-var-overrides-multi($selectors, $var-spec) {
  @each $type in $nui-types {
    $sel-list: ();

    @each $sel in $selectors {
      $full-sel: $sel + '[nui-type=\'' + $type + '\']';
      $sel-list: list.append($sel-list, $full-sel, comma);
    }
    #{$sel-list} {
      @each $local, $entity-suffix in $var-spec {
        #{$local}: var(--#{$type}-#{$entity-suffix}-u);
      }
    }

    $sel-list-sys: ();

    @each $sel in $selectors {
      $full-sel-sys: '.nuc-system ' + $sel + '[nui-type=\'' + $type + '\']';
      $sel-list-sys: list.append($sel-list-sys, $full-sel-sys, comma);
    }
    #{$sel-list-sys} {
      @each $local, $entity-suffix in $var-spec {
        #{$local}: var(--#{$type}-#{$entity-suffix}-s);
      }
    }
  }
}

@mixin entity-class-var-overrides($base-selector, $var-spec) {
  @each $type in $nui-types {
    #{$base-selector}.#{$type} {
      @each $local, $entity-suffix in $var-spec {
        #{$local}: var(--#{$type}-#{$entity-suffix}-u);
      }
    }
    .nuc-system #{$base-selector}.#{$type} {
      @each $local, $entity-suffix in $var-spec {
        #{$local}: var(--#{$type}-#{$entity-suffix}-s);
      }
    }
  }
}

