@import '../../../variables/pages/welcome/navbar_variables';

@import '../../../variables/base/borders_variables';
@import '../../../variables/base/colors_variables';
@import '../../../variables/base/medias_variables';
@import '../../../variables/base/box_shadows_variables';

.welcomeNavbar {
    z-index: $welcome-navbar-z-index;
    position: $welcome-navbar-position;
    top: $welcome-navbar-top;
    background: $primary-bg;
    box-shadow: $box-shadow-none;
    border: $border-none;
    border-radius: $border-radius-none;

    .welcomeNavLink {
        margin-top: $welcome-nav-link-margin-top;
        color: $white-text-color;
        font-size: $welcome-nav-link-font-size;

        &:hover {
            color: $primary-hover-color;
        }
    }
}

.applicationHeader {
    margin-top: $application-header-margin-top;
    margin-left: $application-header-margin-left;
    text-decoration: $application-header-text-decoration;
    color: $white-text-color;
    font-size: $application-header-font-size;

    &:hover {
        color: $white-text-color;
    }

    // Min width 992px
    @media (min-width: $min-width-lg2) {
        font-size: $application-header-font-size-lg2;
    }
}
