// Settings panel container
$settings-panel-container-display: flex;

// Settings card
$settings-card-margin: 0;
$settings-card-padding: 20px;

// Settings cart item list
$settings-card-item-list-display: flex;
$settings-card-item-list-flex-direction: column;
$settings-card-item-list-padding-left: 0;
$settings-card-item-list-gap: 1rem;

// Settings cart item
$settings-card-item-display: flex;
$settings-card-item-justify-content: space-between;

// Min width 576px
$settings-panel-container-flex-direction-sm5: row;

// Min width 992px
$settings-small-card-max-width-lg2: 500px;
$settings-small-card-max-height-lg2: 405px;
