$menu-item-a-text-decoration: none;
$avatar-position: relative;
$avatar-right: 15px;
$submenu-header-display: none;
$menu-item-icon-margin-right: 20px;
$menubar-width: 100vw;
$menubar-position: fixed;
$menubar-z-index: 999;
$menubar-padding: 5px;
$menubar-margin: 0;
$menubar-justify-content: space-between;
$menubar-button-position: relative;
$menubar-button-left: 10px;
$menubar-button-color: black;
$menubar-button-icon-width: 20px;
$menubar-button-icon-height: 20px;
$menubar-root-list-padding: 0;
$menubar-root-list-margin: 0;
$my-navbar-position: fixed;
$navbar-padding: 0 20px;
$nav-link-padding-left: 15px;

// Min width 992px
$my-navbar-display-lg2: none;
