// myNavbar
$my-navbar-height: 78px;
$my-navbar-width: 100vw;
$my-navbar-position: fixed;
$my-navbar-z-index: 999;
$my-navbar-padding: 5px;
$my-navbar-margin: 0;
$my-navbar-justify-content: space-between;

// navbarUser
$navbar-user-dimensions: 50px;
$navbar-user-padding: 8px;
$navbar-user-dimensions: 3rem;
$navbar-user-transition: all 300ms;
$navbar-user-cursor: pointer;

$menu-item-a-text-decoration: none;
$avatar-position: relative;
$avatar-right: 15px;
$submenu-header-display: none;
$menu-item-icon-margin-right: 20px;
$menubar-button-position: relative;
$menubar-button-top: -2px;
$menubar-button-left: 20px;
$menubar-button-color: black;
$menubar-button-icon-width: 25px;
$menubar-button-icon-height: 25px;
$menubar-root-list-padding: 0;
$menubar-root-list-margin: 0;
$navbar-padding: 0 20px;
$nav-link-padding-left: 15px;

// Min width 992px
$my-navbar-display-lg2: none;
