@import '../../variables/base/colors_variables';

$card-width: 100%;
$my-card-border: 1px solid $secondary-whitesmoke-color;
$my-card-border: none;
$my-card-background: white;

$my-card-header-container-display: flex;

$my-card-header-container-justify-content: space-between;

// Min width 992px
$my-card-margin-right-lg2: 2rem;
