$my-dialog-width: 30rem;
$my-dialog-max-height: 620px;

$my-dialog-header-margin: 0;

$dialog-mask-padding: 0 10px;
$dialog-header-padding-top: 18px;
$dialog-header-padding-bottom: 0;
$dialog-content-padding: 20px;
$dialog-header-icon-display: none;
$dialog-footer-padding: 20px;

// Dialog buttons container
$dialog-buttons-width: 100%;
$dialog-buttons-display: flex;
$dialog-buttons-justify-content: space-between;
