// Show data container
$show-data-container-display: flex;
$show-data-container-flex-direction: column;
$show-data-container-gap: 1rem;

// Show data header
$show-data-header-margin-bottom: 0;

// Show data dates container
$show-data-dates-container-display: flex;

// Show data date
$show-data-date-padding: 0 !important;

// Show data role
$show-data-role: -1rem;
