// Test buttons container
$test-buttons-container-width: 100%;
$test-buttons-container-display: flex;
$test-buttons-container-position: absolute;
$test-buttons-container-bottom: 0;
$test-buttons-container-padding: 1.5rem;
