$border-none: 0;
$primary-border: 1px solid;
$secondary-border: 0.5px solid;

/* Border radius */
$border-radius-none: 0;
$small-border-radius: 12px;
$medium-border-radius: 18px;
$large-border-radius: 2em;
