@import '../../base/colors_variables';

// Access container
$access-container-display: flex;
$access-container-flex-direction: column;
$access-container-padding: 60px 10px 0 10px;
$access-container-height: auto;
$access-container-width: 100%;
$access-container-margin-bottom: 100px;
$access-container-overflow-x: hidden;

// Access header
$access-header-font-weight: bold;
$access-header-font-size: 35px;
$access-header-max-width: 320px;
$access-header-margin: 0 auto 15px auto;
$access-description-padding: 0 40px;
$access-description-font-size: 16px;
$flip-card-hover-transform: rotateY(180deg);

// Access description
$access-description-margin: 5px auto 0 auto;
$access-description-max-width: 900px;
$access-description-text-align: center;

// Access card
$access-card-container-position: relative;
$access-card-container-top: 50px;
$access-card-width: 370px;
$access-card-min-height: 210px;
$access-card-display: flex;
$access-card-flex-direction: column;
$access-card-align-items: center;
$access-card-justify-content: center;
$access-card-cursor: pointer;

// Access card container
$access-card-container-margin: 50px 0 70px 0;
$access-card-container-display: flex;
$access-card-container-flex-wrap: wrap;
$access-card-container-flex-direction: row;
$access-card-container-justify-content: center;

// Access card image
$access-card-image-margin: 15px 0 20px 0;
$access-card-image-height: 100px;

// Flip card
$flip-card-bg-color: transparent;
$flip-card-width: 370px;
$flip-card-height: 210px;
$flip-card-perspective: 1000px;
$flip-card-border: 1px solid $secondary-whitesmoke-color;
$flip-card-inner-position: relative;
$flip-card-inner-width: 100%;
$flip-card-inner-height: 100%;
$flip-card-inner-text-align: center;
$flip-card-inner-transition:
    transform 0.8s,
    box-shadow 500ms 300ms;
$flip-card-inner-transform-style: preserve-3d;
$flip-card-sides-position: absolute;
$flip-card-sides-dimensions: 100%;
$flip-card-front-color: black;
$flip-card-front-padding-top: 8px;
$flip-card-back-padding: 50px 20px;
$flip-card-back-transform: rotateY(180deg);

// Min width 547px
$access-header-max-width-sm2: 100%;
$access-description-font-size-sm2: 20px;

// Min width 768px
$access-header-font-size-md: 45px;

// Welcome charts
$welcome-charts-container-width: 100%;
$welcome-charts-container-margin: 55px auto 0 auto;
$welcome-charts-container-padding: 70px 0 100px 0;
$welcome-charts-container-display: flex;
$welcome-charts-container-flex-direction: column;
$welcome-charts-container-justify-content: center;
$welcome-charts-container-align-items: center;
$welcome-charts-container-background: var(--main-item-color);

$welcome-pie-chart-z-index: 100;
$welcome-pie-chart-position: relative;
$welcome-pie-chart-bottom: 115px;
$welcome-pie-chart-left: 190px;
$welcome-pie-chart-width: 8.5rem;
$welcome-pie-chart-height: 8.5rem;
$welcome-pie-chart-margin-right: 30px;

$welcome-chart-card-display: flex;
$welcome-chart-card-justify-content: center;
$welcome-chart-card-height: 100%;
$welcome-chart-card-width: 100%;
$welcome-chart-card-max-height: 375px;
$welcome-chart-card-max-width: 400px;
$welcome-chart-card-padding: 35px;

$welcome-horizontal-chart-height: 300px;

$welcome-charts-header-font-weight: 800;
$welcome-charts-header-padding: 0 35px 0 35px;
$welcome-charts-header-text-align: center;
$welcome-charts-header-margin-bottom: 60px;

// Min width 992px
$welcome-charts-container-flex-direction-lg2: row;

$welcome-charts-header-max-width-lg2: 430px;
$welcome-charts-header-text-align-lg-2: left;
$welcome-charts-header-padding-lg-2: 0 55px 0 35px;
