// welcomeNavbar
$welcome-navbar-width: 100%;
$welcome-navbar-z-index: 9999;
$welcome-navbar-position: fixed;
$welcome-navbar-top: 0;
$welcome-navbar-padding: 1rem;

// navbar-toggler
$navbar-toggler-dimensions: 44px;
$navbar-toggler-padding: 0;

// welcomeNavLink
$welcome-nav-link-display: flex;
$welcome-nav-link-justify-content: end;
$welcome-nav-link-align-items: center;
$welcome-nav-link-margin-top: 10px;
$welcome-nav-link-padding: 15px;
$welcome-nav-link-font-size: 18px;
$welcome-nav-link-text-align: end;
$welcome-nav-link-gap: 20px;
$welcome-nav-link-transition: all 500ms;

// Application header
$application-header-margin-top: -5px;
$application-header-margin-left: 11px;
$application-header-text-decoration: none;
$application-header-font-size: 20px;

// Min width 768px
$welcome-nav-link-gap-md: 10px;
$application-header-font-size-md: 25px;
$welcome-nav-link-margin-top-md: -3px;
$welcome-nav-link-padding-md: 8px;
