// welcomeNavbar
$welcome-navbar-z-index: 9999;
$welcome-navbar-position: fixed;
$welcome-navbar-top: 0;

// welcomeNavLink
$welcome-nav-link-margin-top: 10px;
$welcome-nav-link-padding: 15px;
$welcome-nav-link-font-size: 18px;
$welcome-nav-link-text-align: end;

// Application header
$application-header-margin-top: -5px;
$application-header-margin-left: 11px;
$application-header-text-decoration: none;
$application-header-font-size: 20px;

// Min width 992px
$application-header-font-size-lg2: 25px;
$welcome-nav-link-margin-top-lg2: -3px;
$welcome-nav-link-padding-lg2: 8px;
