$welcome-navbar-z-index: 9999;
$welcome-navbar-position: fixed;
$welcome-navbar-top: 0;
$welcome-nav-link-font-size: 18px;
$application-header-margin-left: 11px;
$application-header-text-decoration: none;
$application-header-font-size: 20px;

// Min width 992px
$application-header-font-size-lg2: 25px;
