$start-section-scroll-margin-top: 350px;
$features-section-scroll-margin-top: 250px;
$features-section-position: relative;
$features-section-top: 350px;
$features-section-padding-bottom: 100px;

// Min width 768px
$features-section-top-min-width-768px: 450px;
