$welcome-container-padding-top: 180px;


// Min width 560px
$welcome-container-padding-top-sm4: 200px;

// Min width 768px
$welcome-container-padding-top-md: 230px;

// Min width 992px
$welcome-container-padding-top-lg2: 250px;

// Min width 1200px
$welcome-container-padding-top-xl: 270px;

// Min width 1400px
$welcome-container-padding-top-2xl: 290px;
