$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-inter-sans-serif: 'Inter', sans-serif;
$font-size-xxl: 3.75rem; // 60px
$font-size-xl: 3rem; // 48px
$font-size-l: 2.5rem; // 40px
$font-size-big1: 1.75rem; // 28px
$font-size-big: 1.563rem; // 25px
$font-size-medium2: 1.375; // 22px
$font-size-medium1: 1.25rem; // 20px
$font-size-medium: 1.125rem; // 18px
$font-size-base1: 0.9375rem; // 15px
$font-size-base: 0.9rem; // 14.4px
$font-size-small: 0.75rem; // 12px
$line-height-base: 1.6;
