$minWidthXs: 411px;
$minWidthXs2: 456px;
$minWidthSm: 530px;
$minWidthSm1: 545px;
$minWidthSm2: 547px;
$minWidthSm3: 550px;
$minWidthSm4: 560px;
$minWidthMd0: 759px;
$minWidthMd: 768px;
$minWidthLg: 961px;
$minWidthLg2: 992px;
$minWidthLg3: 1129px;
$minWidthXl: 1200px;
$minWidth2Xl: 1400px;
$minWidth3Xl: 1500px;
$maxWidthSm1: 550px;
