@import '../../../variables/components/layout/navbar_variables';
@import '../../../variables/components/disabled_items_variables';

@import '../../../variables/base/box_shadows_variables';
@import '../../../variables/base/borders_variables';
@import '../../../variables/base/fonts_variables';
@import '../../../variables/base/medias_variables';

.p-menuitem {
    a {
        text-decoration: $menu-item-a-text-decoration;
    }

    .p-menuitem-icon {
        margin-right: $menu-item-icon-margin-right;
    }
}

.myNavbar {
    height: $my-navbar-height;
    width: $my-navbar-width;
    position: $my-navbar-position;
    z-index: $my-navbar-z-index;
    padding: $my-navbar-padding;
    margin: $my-navbar-margin;
    justify-content: $my-navbar-justify-content;
    background: $primary-bg;
    box-shadow: $box-shadow-none;
    border: $border-none;
    border-radius: $border-radius-none;

    .p-submenu-header {
        display: $submenu-header-display;
    }

    .p-avatar {
        position: $avatar-position;
        right: $avatar-right;
    }

    .p-menubar-button {
        position: $menubar-button-position;
        top: $menubar-button-top;
        left: $menubar-button-left;
        color: $menubar-button-color;

        .p-icon {
            width: $menubar-button-icon-width;
            height: $menubar-button-icon-height;
            color: $white-text-color;
        }
        &:hover {
            background: $primary-bg;
        }
    }

    .p-menubar-root-list {
        padding: $menubar-root-list-padding;
        margin: $menubar-root-list-margin;
    }

    .nav-link {
        padding-left: $nav-link-padding-left;
    }

    .navbarUser {
        min-width: $navbar-user-dimensions;
        min-height: $navbar-user-dimensions;
        max-width: $navbar-user-dimensions;
        max-height: $navbar-user-dimensions;
        padding: $navbar-user-padding;
        color: $white-text-color;
        background: $secondary-bg;
        transition: $navbar-user-transition;
        cursor: $navbar-user-cursor;

        .pi-user {
            font-size: $font-size-big;
        }
    }

    // Min width 992px
    @media (min-width: $min-width-lg2) {
        display: $my-navbar-display-lg2;
    }
}
