$home-bricks-grid-max-width: 900px;
$home-bricks-grid-position: relative;
$home-bricks-grid-top: 120px;

$home-bricks-grid-item-pi-font-size: 45px;
$home-bricks-grid-grid-item-min-width: 220px;
$home-bricks-grid-grid-item-height: 200px;
$home-bricks-grid-grid-item-gap: 20px;
