$home-bricks-grid-max-width: 900px;
$home-bricks-grid-position: relative;
$home-bricks-grid-top: 110px;
$home-bricks-font-size: 28px;
$home-bricks-grid-margin: 0 auto;
$home-brick-grid-padding-left: 0;
$home-bricks-grid-padding-bottom: 3rem;

$home-bricks-grid-item-pi-font-size: 50px;
$home-bricks-grid-grid-item-min-width: 220px;
$home-bricks-grid-grid-item-height: 200px;
$home-bricks-grid-grid-item-gap: 20px;
