@import '../../variables/components/button_variables';

@import '../../variables/base/borders_variables';
@import '../../variables/base/dimensions_variables';
@import '../../variables/base/medias_variables';

.p-button {
    display: $p-button-display;
    justify-content: $p-button-justify-content;
    transition: $p-button-transition;
    padding: $p-button-padding;
    font-size: 1.2rem;

    .p-button-label {
        font-family: $p-button-label-font-family;
        font-weight: $p-button-label-font-weight;
    }

    &.p-button-rounded {
        border-radius: $large-border-radius !important;
    }

    &.mobile-button {
        display: $mobile-button-display;
    }

    &.desktop-button {
        display: $desktop-button-display;
    }

    &.my-button {
        max-height: $min-max-width-height-small;
        min-height: $min-max-width-height-small;
        max-width: $min-max-width-height-small;
        min-width: $min-max-width-height-small;
    }

    &.my-big-button {
        position: $my-big-button-position;
        left: $my-big-button-left;
        top: $my-big-button-top;
        padding-left: $my-big-button-padding-left;
        max-height: $min-max-width-height-big;
        min-height: $min-max-width-height-big;
        max-width: $min-max-width-height-big;
        min-width: $min-max-width-height-big;
    }

    &.primary-button {
        padding: $primary-button-padding;
        transition: $primary-button-transition;
        display: $primary-button-display;
        justify-content: $primary-button-justify-content;

        &:active {
            transform: $primary-button-active-transform;
        }
        &:active,
        &:focus {
            box-shadow: $primary-button-box-shadow;
        }
    }

    &.data-table-button {
        height: $datatable-button-dimensions;
        width: $datatable-button-dimensions;
    }

    &.small-height-button {
        max-height: $min-max-width-height-small;
        min-height: $min-max-width-height-small;

        &.primary-button {
            padding: $primary-button-small-padding;
        }
    }

    // Min width 992px
    @media (min-width: $min-width-lg2) {
        &.mobile-button {
            display: $mobile-button-display-lg2;
        }
        &.desktop-button {
            display: $desktop-button-display-lg2;
        }
    }

    &:hover {
        filter: $Button-hover-filter;
    }

    :not(:hover) {
        filter: $Button-not-hover-filter;
    }
}
