@import '../../variables/components/card_variables';

@import '../../variables/base/borders_variables';
@import '../../variables/base/box_shadows_variables';
@import '../../variables/base/colors_variables';
@import '../../variables/base/medias_variables';

.myCard {
    width: $card-width;
    background: $content-bg;
    box-shadow: $my-card-box-shadow;
    border: $border-none;
    border-radius: $border-radius-none;

    .myCardHeaderContainer {
        display: $my-card-header-container-display;
        justify-content: $my-card-header-container-justify-content;
        align-items: center;
        padding: 0 12px 0 4px;
        margin-bottom: -8px;

        h3 {
            margin: 0;
        }

        .p-button {
            padding: 0;
            width: 30px !important;
            height: 30px !important;

            .p-button-icon {
                font-size: 1em;
            }
        }
    }

    // Min width 992px
    @media (min-width: $min-width-lg2) {
        margin-right: $my-card-margin-right-lg2;

        .myCardHeaderContainer {
            padding: 2px 12px 0 6px;
            margin-bottom: 0;

            .headingSkeleton {
                height: 38px !important;
            }
        }
    }
}
