@import '../../variables/components/chart_variables';

.chart-card {
    .p-card-content {
        display: $chart-card-content-display;
        flex-direction: $chart-card-content-flex-direction;
        align-items: $chart-card-content-align-items;
        width: $chart-card-content-width;

        .p-chart {
            width: $chart-card-body-chart;
        }
    }

    .chart-loading {
        opacity: $chart-loading-opacity;
    }

    .chart-loaded {
        opacity: $chart-loaded-opacity;
    }

    .annual-chart {
        min-height: 480px;
    }
}
