@import '../../variables/components/datatable_variables';

@import '../../variables/base/fonts_variables';
@import '../../variables/base/medias_variables';

.p-datatable {
    min-height: $datatable-min-height;
    display: $datatable-display;
    flex-direction: $datatable-flex-direction;
    justify-content: $datatable-justify-content;

    td {
        cursor: $td-cursor;
    }

    .p-component-overlay {
        background: $datatable-component-overlay-background;
    }

    :has(.p-datatable-loading-overlay) {
        .p-datatable-wrapper,
        .p-paginator-bottom {
            display: $datatable-has-loading-overlay-display;
        }
    }

    .p-column-title {
        font-size: $font-size-base;
    }

    .p-datatable-table {
        .id-column {
            width: $id-column-width-phone;
        }
        .title-column,
        .name-column,
        .full-name-column {
            width: $name-full-name-columns-width-phone;
        }
        .tablet-column,
        .desktop-column {
            display: $tablet-desktop-columns-display-phone;
        }
        .action-column {
            width: $action-column-width;
            min-width: 49px;

            .action-column-content {
                display: $action-column-content-display;
                justify-content: $action-column-content-justify-content;
                gap: $action-column-content-gap;
            }
        }
        .email-column,
        .role-column,
        .created-at-column,
        .updated-at-column,
        .id-activity-column,
        .causer-id-column,
        .created-at-activity-column {
            display: $tablet-desktop-columns-display-phone;
        }
        .title-column,
        .category-column,
        .description-column,
        .name-column {
            overflow: $description-name-columns-overflow;
            white-space: $description-name-columns-whitespace;
        }
        .title-column {
            max-width: $title-column-max-width;
        }

        .description-column {
            max-width: $description-column-max-width;
        }
        .name-column {
            max-width: $name-column-max-width;
        }

        // Min width 530px
        @media (min-width: $min-width-sm) {
            .role-column,
            .birthday-column,
            .id-activity-column {
                display: $role-birthday-id-activity-columns-display-sm;
            }
            .id-column {
                width: $id-column-width-sm;
            }
            .name-column,
            .full-name-column {
                width: $name-full-name-columns-width-sm;
            }
        }

        // Min width 768px
        @media (min-width: $min-width-md) {
            .id-column {
                width: $id-column-width-md;
            }
            .name-column,
            .full-name-column {
                width: $name-full-name-columns-width-md;
            }
            .role-column,
            .birthday-column {
                width: $role-birthday-columns-width-md;
            }
            .email-column,
            .created-at-activity-column {
                display: $tablet-column-display-md;
            }
            .email-column {
                width: $email-column-width-md;
            }
            .created-at-activity-column {
                width: $created-at-activity-column;
            }
        }

        // Min width 961px
        @media (min-width: $min-width-lg) {
            .id-column {
                width: $id-column-width-lg;
            }
        }

        // Min width 992px
        @media (min-width: $min-width-lg2) {
            .desktop-column {
                display: $desktop-column-display-lg2;
            }
            .email-column {
                width: $email-column-width-lg2;
            }
            .role-column,
            .birthday-column {
                width: $role-birthday-column-lg2;
            }
            .title-column {
                width: $title-column-lg2;
            }
            .category-column {
                width: $category-column-lg2;
            }
            .action-column {
                min-width: $action-column-min-width-lg2;
            }
        }

        // Min width 1200px
        @media (min-width: $min-width-xl) {
            .id-column {
                width: $id-column-width-xl;
            }
            .name-column,
            .full-name-column {
                width: $name-full-name-columns-width-xl;
            }
            .email-column {
                width: $email-column-width-xl;
            }
            .created-at-column {
                display: $created-at-column-display-xl;
                width: $created-at-column-width-xl;
            }
            .category-column {
                width: $category-column-lg2;
            }
        }

        // Min width 1400px
        @media (min-width: $min-width-2xl) {
            .id-column {
                width: $id-column-width-2xl;
            }
            .name-column,
            .full-name-column {
                width: $name-full-name-columns-width-2xl;
            }
            .email-column {
                width: $email-column-width-2xl;
            }
            .role-column,
            .birthday-column {
                width: $role-birthday-columns-width-2xl;
            }
            .created-at-column,
            .updated-at-column {
                display: $created-at-updated-at-columns-display-2xl;
                width: $created-at-updated-at-columns-width-2xl;
            }
            .title-column {
                width: $title-column-width-2xl;
            }
            .category-column {
                width: $category-column-width-2xl;
            }
        }

        // Min width 1500px
        @media (min-width: $min-width-3xl) {
            .created-at-column,
            .updated-at-column {
                width: $created-at-updated-at-columns-width-3xl;
            }
            .title-column {
                width: $title-column-width-3xl;
            }
            .category-column {
                width: $category-column-width-3xl;
            }
        }
    }
}
