@import '../../variables/components/dialog_variables';

@import '../../variables/base/box_shadows_variables';

.p-dialog-mask {
    padding: $dialog-mask-padding;

    .p-dialog {
        &.myDialog {
            width: $my-dialog-width;
            max-height: $my-dialog-max-height;
        }

        .p-dialog-header {
            padding-top: $dialog-header-padding-top;
            padding-bottom: $dialog-header-padding-bottom;
        }

        .p-dialog-content {
            padding: $dialog-content-padding;
        }

        .p-dialog-header-icon {
            display: $dialog-header-icon-display;
        }

        .p-dialog-footer {
            padding: $dialog-footer-padding;
            box-shadow: $my-card-box-shadow;
        }

        .dialogButtonsContainer {
            width: $dialog-buttons-width;
            display: $dialog-buttons-display;
            justify-content: $dialog-buttons-justify-content;
        }
    }
}
