@import '../../variables/components/disabled_items_variables';

@import '../../variables/base/colors_variables';

.disabled-item {
    opacity: $disabled-item-opacity2;
    cursor: $disabled-item-cursor;
    color: $secondary-text-color;
}
