@import '../../variables/components/grid_items_variables';

@import '../../variables/base/borders_variables';
@import '../../variables/base/box_shadows_variables';
@import '../../variables/base/colors_variables';
@import '../../variables/base/fonts_variables';
@import '../../variables/base/medias_variables';

.grid-item {
    background: $content-bg;
    transition: $transition-colors-300ms;
    display: $grid-item-display;
    flex-direction: $grid-item-flex-direction;
    justify-content: $grid-item-justify-content;
    align-items: $grid-item-align-items;
    font-weight: $grid-item-font-weight;
    font-size: $font-size-big;
    box-shadow: $box-shadow-none;
    border: $border-none;
    border-radius: $border-radius-none;

    .pi {
        font-size: $font-size-l;
    }

    &:hover,
    &:focus {
        z-index: $grid-item-hover-focus-z-index;
        box-shadow: $grid-item-container-hover-focus-box-shadow;
        color: $primary-hover-color;
    }
}

.admin-bricks {
    .grid-item-container {
        margin: $grid-item-container-margin !important;
    }
}

.grid {
    a {
        text-decoration: $grid-item-a-text-decoration;
    }
}
