@import '../../variables/components/panel_containers_variables';

@import '../../variables/base/medias_variables';

.panelContainer {
    position: $panel-container-position;
    padding: $panel-container-padding;
    display: $panel-container-display;
    flex-direction: $panel-container-flex-direction;
    gap: $panel-container-gap;

    // Min width 992px
    @media (min-width: $min-width-lg2) {
        top: $panel-container-top-lg2;
    }
}

body:has(.p-dock.p-dock-top) .panelContainer {
    top: $panel-container-top;

    // Min width 992px
    @media (min-width: $min-width-lg2) {
        top: $panel-container-top-lg2;
    }
}
