@import '../../variables/components/panel_containers_variables';

@import '../../variables/base/medias_variables';

.panelContainer {
    position: $panel-container-position;
    padding: $panel-container-padding;
    display: $panel-container-display;
    flex-direction: $panel-container-flex-direction;
    gap: $panel-container-gap;
}

body:has(.p-dock.p-dock-top) {
    .panelContainer {
        padding-top: $panel-container-top;
    }
}

body:has(.p-dock.p-dock-right) {
    .panelContainer {
        padding-top: 8px;
        padding-right: 80px;
    }
}

body:has(.p-dock.p-dock-left) {
     .panelContainer {
         padding-top: 8px;
         padding-left: 80px;
     }
 }

body:has(.p-dock.p-dock-bottom) {
    .panelContainer {
        padding-bottom: $panel-container-top;

        // Min width 992px
        @media (min-width: $min-width-lg2) {
            padding-top: 8px;
            padding-bottom: 81px;
        }
    }
}
