@import '../../variables/components/panel_containers_variables';

@import '../../variables/base/medias_variables';

.panelContainer {
    position: $panel-container-position;
    padding: $panel-container-padding;
    display: $panel-container-display;
    flex-direction: $panel-container-flex-direction;
    gap: $panel-container-gap;

    // Min width 992px
    @media (min-width: $min-width-lg2) {
        top: $panel-container-top-lg2;
    }
}

body:has(.p-dock.p-dock-top),
body:has(.p-dock.p-dock-left),
body:has(.p-dock.p-dock-right) {
    .panelContainer {
        padding-top: $panel-container-top;

        // Min width 992px
        @media (min-width: $min-width-lg2) {
            padding-top: 4px;
        }
    }
}

body:has(.p-dock.p-dock-bottom) .panelContainer {
    padding-bottom: $panel-container-top;

    // Min width 992px
    @media (min-width: $min-width-lg2) {
        padding-top: 4px;
        padding-bottom: 7px;
    }
}
