@import '../../variables/components/progress_spinner_variables';

.p-progress-spinner {
    min-width: $progress-spinner-min-dimensions;
    min-height: $progress-spinner-min-dimensions;
    width: $progress-spinner-dimensions;
    height: $progress-spinner-dimensions;
    position: $progress-spinner-position;

    &::before {
        display: $progress-spinner-before-display;
    }
}

.annual-chart-card {
    .p-progress-spinner {
        top: $annual-chart-card-progress-spinner-top;
        margin-bottom: $annual-chart-card-progress-spinner-margin-bottom;
    }
}

.count-chart-card {
    .p-progress-spinner {
        top: $count-chart-card-progress-spinner-top;
    }
}

.p-datatable {
    .p-progress-spinner {
        top: $datatable-progress-spinner-top;
    }
}
