@import '../../variables/components/show_variables';

.show-data-container {
    display: $show-data-container-display;
    flex-direction: $show-data-container-flex-direction;
    gap: $show-data-container-gap;

    .show-data-header {
        margin-bottom: $show-data-header-margin-bottom;
    }

    .show-data-dates-container,
    .show-data-phone-numbers-container {
        display: $show-data-dates-container-display;
    }

    .show-data-date,
    .show-data-phone-number {
        padding: $show-data-date-padding;
    }

    .show-data-role {
        margin-top: $show-data-role;
    }
}
