@import '../../variables/components/test_buttons_variables';

.testButtonsContainer {
    width: $test-buttons-container-width;
    display: $test-buttons-container-display;
    justify-content: $test-buttons-container-justify-content;
    position: $test-buttons-container-position;
    bottom: $test-buttons-container-bottom;
    padding: $test-buttons-container-padding;
}
