@import '../../variables/components/test_buttons_variables';

.test-buttons-container {
    display: $test-buttons-container-display;
    position: $test-buttons-container-position;
    bottom: $test-buttons-container-bottom;
    padding: $test-buttons-container-padding;
    gap: 1em;

    .p-button-icon {
        font-size: 1em;
    }
}
