APP_NAME=Nucleify
APP_ENV=testing
APP_DEBUG=true
NUXT_PUBLIC_APP_URL=http://localhost:3000
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_EDGE_BASE=

# You can choose 'next' too
APP_FRONTEND=nuxt

# nuxt.config.ts
SSR=true
PRERENDER_ROUTES=/home,/dev,/login,/register,/admin,/thank-you,/offer,/docs,/404,/builder
PRERENDER_CRAWL_LINKS=true
PRERENDER_IGNORE=/settings
PRERENDER_LOCALES=en,pl,vn
PAGE_BUILDER_PRERENDER_LOCALES=en,pl,vn
PAGE_BUILDER_PRERENDER_SLUGS=
DEV_TOOLS=
NITRO_PRESET=cloudflare

# Nucleify
NUC_SUBMODULES_BRANCH=main
NUC_SUBMODULES_CHECK=1
NUC_ALLOWED_ORIGINS=
NUC_ALLOWED_ORIGINS_PATTERNS=
NUC_CONVERT_DOCUMENTS_URL=https://convert-documents-nucleify.koyeb.app

# Calendly
CALENDLY_CLIENT_ID=
CALENDLY_CLIENT_SECRET=
CALENDLY_WEBHOOK_SIGNING_KEY=
CALENDLY_OAUTH_REDIRECT_URI=
CALENDLY_APP_REDIRECT_URL=
CALENDLY_WEBHOOK_URL=

# Google Calendar
GOOGLE_CALENDAR_CLIENT_ID=
GOOGLE_CALENDAR_CLIENT_SECRET=
GOOGLE_CALENDAR_OAUTH_REDIRECT_URI=
GOOGLE_CALENDAR_APP_REDIRECT_URL=