CI=true

APP_NAME=Nucleify
APP_ENV=testing
APP_DEBUG=true
NUXT_PUBLIC_APP_URL=http://localhost:3000

SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_EDGE_BASE=

APP_FRONTEND=nuxt

SSR=true
PRERENDER=false
PRERENDER_ROUTES=
PRERENDER_CRAWL_LINKS=false
PRERENDER_IGNORE=
PRERENDER_LOCALES=
PAGE_BUILDER_PRERENDER_LOCALES=en,pl,vn
PAGE_BUILDER_PRERENDER_SLUGS=
DEV_TOOLS=
NITRO_PRESET=cloudflare

NUC_SUBMODULES_BRANCH=main
NUC_SUBMODULES_CHECK=1
NUC_ALLOWED_ORIGINS=
NUC_ALLOWED_ORIGINS_PATTERNS=
NUC_CONVERT_DOCUMENTS_URL=https://convert-documents-nucleify.koyeb.app

# Calendly
CALENDLY_CLIENT_ID=
CALENDLY_CLIENT_SECRET=
CALENDLY_WEBHOOK_SIGNING_KEY=
CALENDLY_OAUTH_REDIRECT_URI=
CALENDLY_APP_REDIRECT_URL=
CALENDLY_WEBHOOK_URL=

# Google Calendar
GOOGLE_CALENDAR_CLIENT_ID=
GOOGLE_CALENDAR_CLIENT_SECRET=
GOOGLE_CALENDAR_OAUTH_REDIRECT_URI=
GOOGLE_CALENDAR_APP_REDIRECT_URL=