// Bootstrap
@use 'bootstrap/scss/bootstrap';

//  Styles
@use 'atoms';
@use 'molecules';
@use 'organisms';
@use 'templates';
@use 'views';

// Old structure
@use '../../_old_structure/sass/app';

// Variables
@import 'variables';

@media (min-width: $breakpoint-lg) {
  .mobile {
    display: none !important;
  }
}

@media (max-width: $breakpoint-lg) {
  .desktop {
    display: none !important;
  }
}

body:has(
    #home,
    #login,
    #register
) {
    background: $white-body-bg;

    .dock {
        display: none !important;
    }
}
