@import '../../../variables/pages/auth/auth_variables';

@import '../../../variables/base/colors_variables';
@import '../../../variables/base/fonts_variables';
@import '../../../variables/base/medias_variables';

#login,
#register,
.auth-card-container {
    overflow: hidden;
}

.auth-card-container {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: $auth-card-container-padding;
    display: $auth-card-container-display;
    flex-direction: $auth-card-container-flex-direction;
    justify-content: $auth-card-container-justify-content;
    align-items: $auth-card-container-align-items;

    .login-card,
    .register-card {
        position: $auth-card-position;
        box-shadow: none;
        margin: auto 0;

        .auth-card-header-container {
            display: $auth-card-header-container-display;
            justify-content: $auth-card-header-container-justify-content;

            .auth-card-header {
                display: $auth-card-header-display;
                flex-direction: $auth-card-header-flex-direction;
                align-items: $auth-card-header-align-items;
                gap: $auth-card-header-gap;
                margin-top: $auth-card-header-margin-top;

                h1 {
                    font-size: $font-size-big1;
                }
                p {
                    font-size: $font-size-base1;

                    a {
                        text-decoration: $auth-card-header-a-text-decoration;
                        color: $primary-color !important;
                    }
                }
            }
        }

        .p-card-body {
            padding: $auth-card-body-padding;

            .p-card-content {
                padding: $auth-card-content-padding;

                form {
                    display: $auth-card-form-display;
                    flex-direction: $auth-card-form-flex-direction;
                    gap: $auth-card-form-gap;
                }
            }
        }

        // Min width 768px
        @media (min-width: $min-width-md) {
            padding-bottom: $auth-card-padding-bottom-md;

            .p-card-content,
            .p-card-content,
            .p-card-body,
            .p-card-body {
                padding: $auth-card-body-content-padding-md;
            }
        }

        .auth-input-text {
            height: $auth-input-text-height;
            width: $auth-input-text-width;
            max-width: $auth-input-text-max-width;

            .p-inputtext {
                width: 100%;
            }
        }
    }

    .login-card {
        width: $auth-card-width;
        max-width: $auth-card-max-width;
    }

    .register-card {
        width: $auth-card-width;
        max-width: $auth-card-max-width;
    }
}

.back-link {
    top: $back-link-top;
    left: $back-link-left;
    position: $links-position;
    font-size: $font-size-medium;
    text-decoration: $links-text-decoration;
    color: $primary-text-color;
    transition: $transition-colors-300ms;
    z-index: 1;
}

.back-link:hover {
    color: $primary-hover-color;
}
