@import '../../../variables/pages/auth/auth_variables';

@import '../../../variables/base/box_shadows_variables';
@import '../../../variables/base/colors_variables';
@import '../../../variables/base/fonts_variables';
@import '../../../variables/base/medias_variables';

.authCardContainer {
    height: $auth-card-container-height;
    padding: $auth-card-container-padding;
    display: $auth-card-container-display;
    flex-direction: $auth-card-container-flex-direction;
    justify-content: $auth-card-container-justify-content;
    align-items: $auth-card-container-align-items;

    .loginCard,
    .registerCard {
        position: $auth-card-position;
        box-shadow: $primary-box-shadow;

        .authCardHeaderContainer {
            display: $auth-card-header-container-display;
            justify-content: $auth-card-header-container-justify-content;

            .authCardHeader {
                margin-bottom: $auth-card-header-margin-bottom;
                margin-top: $auth-card-header-margin-top;
            }
        }

        .p-card-body {
            padding: $auth-card-body-padding;

            .p-card-content {
                padding: $auth-card-content-padding;
            }
        }

        // Min width 768px
        @media (min-width: $min-width-md) {
            padding-bottom: $auth-card-padding-bottom-md;

            .p-card-content,
            .p-card-content,
            .p-card-body,
            .p-card-body {
                padding: $auth-card-body-content-padding-md;
            }
        }

        .authInputText {
            height: $auth-input-text-height;
            width: $auth-input-text-width;
            max-width: $auth-input-text-max-width;
            font-size: $auth-input-text-font-size;
        }
    }

    .loginCard {
        width: $auth-card-width;
        max-width: $login-card-position-max-width;
        margin-top: $login-card-position-margin-top;
    }

    .registerCard {
        width: $auth-card-width;
        max-width: $register-card-position-max-width;
    }
}

.backLink,
.loginLink,
.registerLink {
    position: $links-position;
    font-size: $font-size-medium;
    text-decoration: $links-text-decoration;
    color: $primary-text-color;
    transition: $transition-colors-300ms;
}

.backLink:hover,
.loginLink:hover,
.registerLink:hover {
    color: $primary-hover-color;
}

.backLink {
    top: $back-link-top;
    left: $back-link-left;
}

.loginLink,
.registerLink {
    top: $auth-links-top;
    right: $auth-links-right;
}
