// mySidebar
$my-sidebar-height: 100vh;
$my-sidebar-width: 85px;
$my-sidebar-position: fixed;
$my-sidebar-display: none;
$my-sidebar-flex-direction: column;
$my-sidebar-align-items: center;
$my-sidebar-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
$my-sidebar-z-index: 100;
$my-sidebar-padding: 20px 0;
$my-sidebar-gap: 20px;

// mySidebar item
$my-sidebar-item-margin-left: -1px;
$my-sidebar-item-dimensions: 50px;
$my-sidebar-item-padding: 14px;
$my-sidebar-item-justify-content: center;
$my-sidebar-item-text-align: center;
$my-sidebar-item-text-decoration: none;
$my-sidebar-item-background: transparent;
$my-sidebar-item-border: transparent;
$my-sidebar-item-transition: opacity 500ms;
$my-sidebar-item-cursor: pointer;

// User menu
$user-menu-height: 100%;
$user-menu-display: flex;
$user-menu-flex-direction: column;
$user-menu-justify-content: center;
$user-menu-align-items: center;

$user-menu-items-margin-top: 200px;
$user-menu-items-transition: all 500ms ease;

$user-menu-item-opacity: 0;
$user-menu-item-display: none;
$user-menu-item-transition: all 500ms;

$sidebar-user-padding: 8px;
$sidebar-user-dimensions: 3rem;
$sidebar-user-transition: all 300ms;
$sidebar-user-cursor: pointer;

$close-user-menu-item-position: fixed;
$close-user-menu-item-bottom: 15px;

// Min width 992px
$my-sidebar-display-lg2: flex;
