@import '../../../variables/pages/home/sections_variables';

@import '../../../variables/base/medias_variables';

#start {
    scroll-margin-top: $start-section-scroll-margin-top;
    padding-bottom: 100px;

    // Min width 768px
    @media (min-width: $min-width-md) {
        padding-bottom: 150px;
    }

    // Min width 992px
    @media (min-width: $min-width-lg2) {
        padding-bottom: 230px;
    }
}

#features {
    overflow-x: $features-section-overflow-x;
    scroll-margin-top: $features-section-scroll-margin-top;

    // Min width 768px
    @media (min-width: $min-width-md) {
        top: $features-section-top-md;
    }
}

#why-us {
    scroll-margin-top: 150px;
}