@import '../../../variables/pages/home/sections_variables';

@import '../../../variables/base/medias_variables';

#start {
    scroll-margin-top: $start-section-scroll-margin-top;
}

#features {
    overflow-x: $features-section-overflow-x;
    scroll-margin-top: $features-section-scroll-margin-top;
    position: $features-section-position;
    top: $features-section-top;
    padding-bottom: $features-section-padding-bottom;

    // Min width 768px
    @media (min-width: $min-width-md) {
        top: $features-section-top-md;
    }
}

#why-us {
    position: relative;
    top: -100px;
    padding-top: 100px;
    margin-bottom: -100px;
}