@import '../../../variables/pages/home/start_variables';

@import '../../../variables/components/button_variables';
@import '../../../variables/base/borders_variables';
@import '../../../variables/base/colors_variables';
@import '../../../variables/base/fonts_variables';
@import '../../../variables/base/medias_variables';

.start-container {
    padding: $start-container-padding;

    .header {
        font-size: $start-header-font-size;
        font-weight: $start-header-font-weight;
        font-family: $font-family-inter-sans-serif;
        color: $dark-text-color;
        white-space: nowrap;
    }

    .charts-image {
        position: relative;
        top: 50px;

        img {
            width: 100%;
            max-width: 500px;
            animation: levitate 3s ease-in-out infinite;
        }
    }

    @keyframes levitate {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-20px);
        }
    }

    .start-description {
        margin-top: $start-description-margin-top;
        max-width: $start-description-max-width;
        font-size: $font-size-medium2;
        color: $secondary-text-color;
    }

    .cta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: max-content;
        margin-top: 1.5em;
        gap: 2em;

        .github {
            svg {
                path {
                    transition: all 300ms;
                }

                &:hover path {
                    fill: $primary-color;
                }
            }
        }

        .start-button {
            justify-content: $start-button-justify-content;
            font-weight: $start-button-font-weight;
            font-size: $font-size-medium;
            padding: $primary-button-big-padding !important;
            width: max-content;
            transition: all 300ms;

            &:active {
                transform: $start-button-active-transform;
            }
        }
    }

    @media (min-width: 370px) {
        .header {
            font-size: 40px;
        }

        .cta {
            gap: 3em;
        }
    }


    // Min width 411px
    @media (min-width: $min-width-xs) {
        .header {
            font-size: 44px;
        }
    }

    // Min width 560px
    @media (min-width: $min-width-sm4) {
        padding: $start-container-padding-sm4;
    }

    // Min width 768px
    @media (min-width: $min-width-md) {
        .header {
            font-size: $start-header-font-size-md;
        }

        .start-description {
            margin-top: $start-description-margin-md;
        }

        .cta {
            margin-top: 2em;
        }

        .right-side {
            display: flex;
            justify-content: center;

            .charts-image {
                img {
                    min-width: 500px;
                }
            }
        }
    }

    // Min width 992px
    @media (min-width: $min-width-lg2) {
        display: flex;
        margin-top: -10px;

        .charts-image {
            margin-top: -80px;
        }

        .header {
            font-size: $start-header-font-size-lg2;
        }

        .start-description {
            max-width: $start-description-max-width-lg2;
        }
    }

    // Min width 1200px
    @media (min-width: $min-width-xl) {
        .header,
        .start-description,
        .start-button {
            margin-left: $start-header-description-button-margin-left-xl;
        }

        .cta {
            margin-top: 2.5em;
        }

        .charts-image {
            margin-top: -100px;
        }
    }

    // Min width 1400px
    @media (min-width: $min-width-2xl) {
        .header {
            font-size: $font-size-xxl;
        }

        .start-description {
            font-size: $font-size-big;
        }

        .header,
        .start-description,
        .start-button {
            margin-left: $start-header-description-button-margin-left-2xl;
        }
    }
}
