@import '../../../variables/pages/home/start_variables';

@import '../../../variables/components/button_variables';
@import '../../../variables/base/borders_variables';
@import '../../../variables/base/colors_variables';
@import '../../../variables/base/fonts_variables';
@import '../../../variables/base/medias_variables';

.startContainer {
    padding: $start-container-padding;
}

.startHeader {
    font-size: $start-header-font-size;
    font-weight: $start-header-font-weight;
    font-family: $font-family-inter-sans-serif;
    color: $dark-text-color;
    white-space: nowrap;
}

.shinyText {
    background: linear-gradient(to right, #1BBD79 20%, #117e50 40%, #0a5a39 60%, #117e50 80%, #1BBD79 100%);
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &.firstText {
        animation: shine 2.5s linear infinite;
    }
    &:not(.firstText) {
        animation: shine 2s linear infinite;
    }
    @keyframes shine {
        to {
            background-position: 200% center;
        }
    }
}

.chartsImage {
    position: relative;
    top: 40px;

    img {
        width: 100%;
        max-width: 500px;
    }
}

.startDescription {
    margin-top: $start-description-margin-top;
    max-width: $start-description-max-width;
    font-size: $font-size-medium2;
    color: $secondary-text-color;
}

.startButton {
    margin-top: $start-button-margin-top;
    justify-content: $start-button-justify-content;
    font-weight: $start-button-font-weight;
    font-size: $font-size-medium;
    transition: $start-button-transition;
    padding: $primary-button-big-padding !important;

    &:active {
        transform: $start-button-active-transform;
    }
}

@media (min-width: 370px) {
    .startHeader {
        font-size: 40px;
    }
}


// Min width 411px
@media (min-width: $min-width-xs) {
    .startHeader {
        font-size: 44px;
    }
}

// Min width 560px
@media (min-width: $min-width-sm4) {
    .startContainer {
        padding: $start-container-padding-sm4;
    }
}

// Min width 768px
@media (min-width: $min-width-md) {
    .startHeader {
        font-size: $start-header-font-size-md;
    }
    .startDescription {
        margin-top: $start-description-margin-md;
    }
    .startButton {
        margin-top: $start-button-margin-top-md;
    }

    .rightSide {
        display: flex;
        justify-content: center;
    }
}

// Min width 992px
@media (min-width: $min-width-lg2) {
    .startContainer {
        display: flex;
        margin-top: -10px;
    }

    .chartsImage {
        margin-top: -80px;
    }

    .startHeader {
        font-size: $start-header-font-size-lg2;
    }
    .startDescription {
        max-width: $start-description-max-width-lg2;
    }
}

// Min width 1200px
@media (min-width: $min-width-xl) {
    .startHeader,
    .startDescription,
    .startButton {
        margin-left: $start-header-description-button-margin-left-xl;
    }
    .startButton {
        margin-top: $start-button-margin-top-xl;
    }

    .chartsImage {
        margin-top: -100px;
    }
}

// Min width 1400px
@media (min-width: $min-width-2xl) {
    .startHeader {
        font-size: $font-size-xxl;
    }
    .startHeader,
    .startDescription,
    .startButton {
        margin-left: $start-header-description-button-margin-left-2xl;
    }
    .startDescription {
        font-size: $font-size-big;
    }
}
