// Start container
$start-container-padding: 0 10px;

// Start header
$start-header-margin-top: 180px;
$start-header-font-size: 40px;
$start-header-font-weight: bold;

// Start description
$start-description-margin-top: 20px;
$start-description-max-width: 600px;

// Start button
$start-button-margin-top: 20px;
$start-button-width: 150px;
$start-button-justify-content: center;
$start-button-border-radius: 25px;
$start-button-font-weight: bold;
$start-button-transition: transform 150ms ease-out;
$start-button-active-transform: scale(0.95);

// Start items
$start-item-large-dimensions: 50px;
$start-item-small-dimensions: 20px;
$start-item-text-large-padding: 14px;
$start-item-small-padding: 8px 11px;
$start-item-text-decoration: none;
$start-items-index: 50;
$start-items-icons-position: relative;
$start-icons-small-top: 1px;
$start-icons-big-top: 2px;

// Max width 411px
$activities-item-top: 50px;
$activities-item-left: -140px;
$articles-item-bottom: 350px;
$articles-item-left: 50px;
$contacts-item-top: 15px;
$contacts-item-left: 250px;
$money-item-bottom: 240px;
$money-item-left: 140px;
$tasks-item-bottom: 50px;
$tasks-item-left: 170px;
$users-item-top: 30px;
$users-item-left: 170px;

// Min width 411px
$activities-item-top-xs: 60px;
$activities-item-left-xs: -140px;
$articles-item-bottom-xs: 350px;
$articles-item-left-xs: 50px;
$contacts-item-top-xs: 60px;
$contacts-item-left-xs: 285px;
$money-item-bottom-xs: 240px;
$money-item-left-xs: 150px;
$tasks-item-bottom-xs: 60px;
$tasks-item-left-xs: 220px;
$users-item-top-xs: 30px;
$users-item-left-xs: 180px;

// Min width 456px
$money-item-bottom-xs2: 240px;
$money-item-left-xs2: 150px;
$tasks-item-bottom-xs2: 50px;
$tasks-item-left-xs2: 230px;
$contacts-item-top-xs2: 60px;
$contacts-item-left-xs2: 315px;

// Min width 547px
$activities-item-top-sm2: 50px;
$activities-item-left-sm2: -140px;
$articles-item-bottom-sm2: 330px;
$articles-item-left-sm2: 100px;
$contacts-item-top-sm2: 20px;
$contacts-item-left-sm2: 400px;
$money-item-bottom-sm2: 210px;
$money-item-left-sm2: 270px;
$tasks-item-bottom-sm2: 30px;
$tasks-item-left-sm2: 250px;
$users-item-top-sm2: 20px;
$users-item-left-sm2: 200px;

// Min width 560px
$start-container-padding-sm4: 0;
$articles-item-bottom-sm4: 320px;
$articles-item-left-sm4: 100px;
$money-item-bottom-sm4: 290px;
$money-item-left-sm4: 270px;

// Min width 768px
$start-header-font-size-md: 52px;
$start-description-margin-md: 30px;
$start-button-margin-top-md: 30px;
$start-icons-font-size-md: 20px;
$activities-item-top-md: 60px;
$activities-item-left-md: -110px;
$articles-item-bottom-md: 330px;
$articles-item-left-md: 400px;
$contacts-item-top-md: 50px;
$contacts-item-left-md: 560px;
$money-item-bottom-md: 150px;
$money-item-left-md: 470px;
$tasks-item-top-md: -50px;
$tasks-item-left-md: 430px;
$users-item-left-md: 350px;

// Min width 992px
$start-header-font-size-lg2: 55px;
$start-description-max-width-lg2: 650px;
$activities-item-top-lg2: 50px;
$activities-item-left-lg2: 40px;
$articles-item-bottom-lg2: 340px;
$articles-item-left-lg2: 600px;
$contacts-item-top-lg2: 70px;
$contacts-item-left-lg2: 740px;
$money-item-bottom-lg2: 200px;
$money-item-left-lg2: 670px;
$tasks-item-top-lg2: -40px;
$tasks-item-left-lg2: 630px;
$users-item-bottom-lg2: 50px;
$users-item-left-lg2: 500px;

// Min width 1200px
$start-header-description-button-margin-left-xl: 110px;
$start-button-margin-top-xl: 40px;
$activities-item-top-xl: 30px;
$activities-item-left-xl: 150px;
$articles-item-bottom-xl: 380px;
$articles-item-left-xl: 650px;
$contacts-item-top-xl: -20px;
$contacts-item-left-xl: 850px;
$money-item-bottom-xl: 240px;
$money-item-left-xl: 790px;
$tasks-item-top-xl: -150px;
$tasks-item-left-xl: 730px;
$users-item-top-xl: -20px;
$users-item-left-xl: 620px;

// Min width 1400px
$start-header-description-button-margin-left-2xl: 130px;
$activities-item-top-2xl: 40px;
$activities-item-left-2xl: 260px;
$articles-item-bottom-2xl: 340px;
$articles-item-left-2xl: 860px;
$contacts-item-top-2xl: 40px;
$contacts-item-left-2xl: 960px;
$money-item-bottom-2xl: 210px;
$money-item-left-2xl: 900px;
$tasks-item-top-2xl: -120px;
$tasks-item-left-2xl: 840px;
$users-item-bottom-2xl: 90px;
$users-item-left-2xl: 730px;
