@import '../../variables/components/button_variables';

@import '../../variables/base/borders_variables';
@import '../../variables/base/dimensions_variables';
@import '../../variables/base/medias_variables';

.p-button {
    border-radius: $small-border-radius;
    transition: $button-transition;
    padding: $button-padding;

    &.p-button-secondary {
        background: var(--user-item-color);
        border: var(--user-item-color);
    }

    &.mobileButton {
        display: $mobile-button-display;
    }

    &.desktopButton {
        display: $desktop-button-display;
    }

    &.myButton {
        max-height: $min-max-width-height-small;
        min-height: $min-max-width-height-small;
        max-width: $min-max-width-height-small;
        min-width: $min-max-width-height-small;
    }

    &.myBigButton {
        position: $my-big-button-position;
        left: $my-big-button-left;
        top: $my-big-button-top;
        padding-left: $my-big-button-padding-left;
        max-height: $min-max-width-height-big;
        min-height: $min-max-width-height-big;
        max-width: $min-max-width-height-big;
        min-width: $min-max-width-height-big;
    }

    &.primaryButton {
        padding: $primary-button-padding;
        border-radius: $primary-button-border-radius;
        transition: $primary-button-transition;

        &:active {
            transform: $primary-button-active-transform;
        }
        &:active,
        &:focus {
            box-shadow: $primary-button-box-shadow;
        }
    }

    &.dataTableButton {
        border-radius: $datatable-button-border-radius;
        padding: $datatable-button-padding;
        height: $datatable-button-dimensions;
        width: $datatable-button-dimensions;
    }

    &.smallHeightButton {
        max-height: $min-max-width-height-small;
        min-height: $min-max-width-height-small;

        &.primaryButton {
            padding: $primary-button-small-padding;
        }
    }

    // Min width 992px
    @media (min-width: $min-width-lg2) {
        &.mobileButton {
            display: $mobile-button-display-lg2;
        }
        &.desktopButton {
            display: $desktop-button-display-lg2;
        }
    }

    &:hover {
        filter: $Button-hover-filter;
    }

    :not(:hover) {
        filter: $Button-not-hover-filter;
    }
}
