@import '../../variables/components/disabled_items_variables';
@import '../../variables/components/navbar_variables';

@import '../../variables/base/medias_variables';

.p-menuitem {
    a {
        text-decoration: $menu-item-a-text-decoration;
    }

    .p-menuitem-icon {
        margin-right: $menu-item-icon-margin-right;
    }
}

.p-menubar {
    width: $menubar-width;
    position: $menubar-position;
    z-index: $menubar-z-index;
    padding: $menubar-padding;
    margin: $menubar-margin;
    justify-content: $menubar-justify-content;
    box-shadow: $menubar-box-shadow;

    .p-submenu-header {
        display: $submenu-header-display;
    }

    .p-avatar {
        position: $avatar-position;
        right: $avatar-right;
    }

    .p-menubar-button {
        position: $menubar-button-position;
        left: $menubar-button-left;
        color: $menubar-button-color;

        .p-icon {
            width: $menubar-button-icon-width;
            height: $menubar-button-icon-height;
        }
    }

    .p-menubar-root-list {
        padding: $menubar-root-list-padding;
        margin: $menubar-root-list-margin;
    }

    &.myNavbar {
        position: $my-navbar-position;

        .nav-link {
            padding-left: $nav-link-padding-left;
        }

        // Min width 992px
        @media (min-width: $min-width-lg2) {
            display: $my-navbar-display-lg2;
        }
    }
}
