@import '../../variables/components/panel_containers_variables';

@import '../../variables/base/medias_variables';

.panelContainer {
    position: $panel-container-position;
    top: $panel-container-top;
    padding-bottom: $panel-container-padding-bottom;
    display: $panel-container-display;
    flex-direction: $panel-container-flex-direction;
    gap: $panel-container-gap;
}

// Min width 992px
@media (min-width: $min-width-lg2) {
    .panelContainer {
        margin-left: $panel-container-margin-left-lg2;
        top: $panel-container-top-lg2;
        padding: $panel-container-padding-lg2;
        gap: $panel-container-gap-lg2;
    }
}
