@import '../../variables/components/sidebar_variables';
@import '../../variables/components/disabled_items_variables';

@import '../../variables/base/borders_variables';
@import '../../variables/base/colors_variables';
@import '../../variables/base/fonts_variables';
@import '../../variables/base/medias_variables';

.mySidebar {
    height: $my-sidebar-height;
    width: $my-sidebar-width;
    position: $my-sidebar-position;
    display: $my-sidebar-display;
    flex-direction: $my-sidebar-flex-direction;
    align-items: $my-sidebar-align-items;
    box-shadow: $my-sidebar-box-shadow;
    background: $content-bg;
    z-index: $my-sidebar-z-index;
    padding: $my-sidebar-padding;

    .sidebarItem {
        margin-left: $my-sidebar-item-margin-left;
        min-width: $my-sidebar-item-dimensions;
        min-height: $my-sidebar-item-dimensions;
        max-width: $my-sidebar-item-dimensions;
        max-height: $my-sidebar-item-dimensions;
        padding: $my-sidebar-item-padding;
        justify-content: $my-sidebar-item-justify-content;
        text-align: $my-sidebar-item-text-align;
        text-decoration: $my-sidebar-item-text-decoration;
        color: $secondary-text-color;
        background: $my-sidebar-item-background;
        border-color: $my-sidebar-item-border;
        border-radius: $small-border-radius;
        transition: $my-sidebar-item-transition;

        i {
            font-size: $font-size-medium1;
        }

        .disabledItem {
            opacity: $disabled-item-opacity;
        }
    }

    .userMenu {
        height: $user-menu-height;
        display: $user-menu-display;
        flex-direction: $user-menu-flex-direction;
        justify-content: $user-menu-justify-content;
        align-items: $user-menu-align-items;
        margin-top: $user-menu-margin-top;

        .userMenuItems {
            margin-top: $user-menu-items-margin-top;
            transition: $user-menu-items-transition;

            .userMenuItem {
                opacity: $user-menu-item-opacity;
                display: $user-menu-item-display;
                transition: $user-menu-item-transition;
            }
        }

        .sidebarUser {
            min-width: $my-sidebar-item-dimensions;
            min-height: $my-sidebar-item-dimensions;
            max-width: $my-sidebar-item-dimensions;
            max-height: $my-sidebar-item-dimensions;
            padding: $sidebar-user-padding;
            color: $secondary-text-color;
            transition: $sidebar-user-transition;
            cursor: $sidebar-user-cursor;

            .pi-user {
                font-size: $font-size-big;
            }
        }

        .sidebarUser,
        .closeUserMenuItem {
            position: $close-user-menu-item-position;
            bottom: $close-user-menu-item-bottom;
        }
    }

    // Min width 992px
    @media (min-width: $min-width-lg2) {
        display: $my-sidebar-display-lg2;
    }
}
