@mixin disabled-item {
    opacity: 0.4 !important;
    cursor: not-allowed !important;
    color: #5e5e5eff !important;
}

@mixin slimy-item {
    animation: slimy 8s infinite ease-out alternate;

    @keyframes slimy {
        0% {
            border-radius: 15px 15px 35px 25px;
        }
        12.5% {
            border-radius: 25px 35px 25px 15px;
        }
        25% {
            border-radius: 20px 15px 25px 35px;
        }
        37.5% {
            border-radius: 15px 25px 35px 25px;
        }
        50% {
            border-radius: 35px 15px 15px 25px;
        }
        62.5% {
            border-radius: 15px 35px 35px 35px;
        }
        75% {
            border-radius: 35px 25px 25px 15px;
        }
        87.5% {
            border-radius: 15px 25px 35px 25px;
        }
    }
}
