$admin-bricks-circle-display: flex;
$admin-bricks-circle-justify-content: center;
$admin-bricks-circle-align-items: center;
$admin-bricks-circle-width: 100px;
$admin-bricks-circle-height: 100px;
$admin-bricks-circle-padding: 18px;
$admin-bricks-circle-border-radius: 100%;

$admin-bricks-text-margin: 0;

$admin-bricks-circle-div-display: flex;
$admin-bricks-circle-div-flex-direction: column;
$admin-bricks-circle-div-align-items: center;
$admin-bricks-circle-div-justify-content: center;

$admin-bricks-grid-item-height: 250px;
$admin-bricks-grid-item-min-width: 284px;

$admin-bricks-grid-item-pi-margin-top: -65px;

$admin-bricks-icon-color: white;
$admin-bricks-circle-number-color: transparent;
$admin-bricks-circle-number-position: relative;
$admin-bricks-circle-number-top: 3px;

$admin-bricks-grid-item-hover-admin-bricks-icon-color: transparent;
$admin-bricks-grid-item-hover-admin-bricks-circle-number-display: block;
$admin-bricks-grid-item-hover-admin-bricks-circle-number-color: white;
