// Admin bricks
$admin-bricks-display: flex !important;
$admin-bricks-justify-content: center;
$admin-bricks-grid-template-columns: repeat(2, minmax(150px, 1fr));
$admin-bricks-padding: 0 !important;
$admin-bricks-margin: 0 !important;

// Admin bricks circle
$admin-bricks-circle-dimensions: 100%;
$admin-bricks-circle-max-dimensions: 80px;
$admin-bricks-circle-aspect-ratio: 1;
$admin-bricks-circle-display: flex;
$admin-bricks-circle-justify-content: center;
$admin-bricks-circle-align-items: center;
$admin-bricks-circle-padding: 18px;
$admin-bricks-circle-border-radius: 100%;

// Admin bricks text
$admin-bricks-text-margin: 0;

// Admin bricks circle div
$admin-bricks-circle-div-display: flex;
$admin-bricks-circle-div-flex-direction: column;
$admin-bricks-circle-div-align-items: center;
$admin-bricks-circle-div-justify-content: center;

// Admin bricks grid item container
$admin-bricks-grid-item-container-aspect-ratio: 1;
$admin-bricks-grid-item-container-padding: 4px;

// Admin bricks grid item
$admin-bricks-grid-item-min-width: 105px;
$admin-bricks-grid-item-min-height: 100px;
$admin-bricks-grid-item-max-width: 210px;
$admin-bricks-grid-item-max-height: 200px;
$admin-bricks-grid-item-aspect-ratio: 1;

// Admin bricks grid item hover
$admin-bricks-grid-item-hover-admin-bricks-icon-color: transparent;
$admin-bricks-grid-item-hover-admin-bricks-circle-number-display: block;
$admin-bricks-grid-item-hover-admin-bricks-circle-number-color: white;

// Admin bricks grid item pi
$admin-bricks-grid-item-pi-margin-top: -65px;

// Admin bricks icon
$admin-bricks-icon-color: white;

// Admin bricks circle number
$admin-bricks-circle-number-color: transparent;
$admin-bricks-circle-number-position: relative;
$admin-bricks-circle-number-top: -6px;

// Min width 456px
$admin-bricks-gap-xs2: 12px;
$admin-bricks-padding-xs2: 4px !important;

// Min width 519px
$admin-bricks-display-sm0: flex !important;
$admin-bricks-gap-sm0: 16px;
$admin-bricks-padding-sm0: 0 0 8px 0 !important;
$admin-bricks-circle-width-sm0: 100px;
$admin-bricks-circle-height-sm0: 100px;
$admin-bricks-circle-number-top-sm0: 3px !important;
$admin-bricks-grid-item-width-sm0: 230px;
$admin-bricks-grid-item-height-sm0: 210px;

// Min width 992px
$admin-bricks-grid-item-max-height-lg2: 250px;
$admin-bricks-grid-item-max-width-lg2: 284px;


