@use 'mixins' as *;

$items: (
  admin: (
    color: --main-item-color-new,
  ),
  activity-log: (
    color: --activity-item-color-new,
  ),
  articles: (
    color: --article-item-color-new,
  ),
  contacts: (
    color: --contact-item-color-new,
  ),
  dashboard: (
    color: --main-item-color-new,
  ),
  settings: (
    color: --main-item-color-new,
  ),
);

@each $item, $props in $items {
  #app:has(> ##{$item}) {
    .dock .pi[v-type='#{$item}'] {
      @include entity-dock-item-styles(var(map-get($props, color)));
    }
  }
}
